@import '../../../../assets/style/colors';
@import '~@angular/material/theming';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    transform: translateY(-100px);
    background-color: $white;
    @include mat-elevation(2);
    animation: heder-slide 0.3s 0s ease forwards;
  }
  @keyframes heder-slide {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
  }

  &-nav {
    animation: slide-left 1s 0.2s ease forwards;
    opacity: 0;
    transform: translateX(-200px);
  }
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
