@import '../../../../assets/style/colors';
@import '../../../../assets/style/breakpoints/breakpoints';
@import '~@angular/material/theming';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    transform: translateY(-100px);
    background-color: $white;
    @include mat-elevation(2);
    animation: header-slide 0.3s 0s ease forwards;

    .header-lang {
      display: block;
    }
  }

  @keyframes header-slide {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 18px 26px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &-nav {
    animation: slide-left 1s 0.2s ease forwards;
    opacity: 0;
    transform: translateX(-200px);

    @include media-breakpoint-down(md) {
      animation: none;
      opacity: 1;
      transform: translateX(0);
      margin-bottom: 20px;
    }

    @media screen and (max-height: 700px) {
      margin-bottom: 0;
    }
  }
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &-lang {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
