@import '../../../../assets/style/colors';
@import '../../../../assets/style/breakpoints/breakpoints';

.lang-list {
  display: flex;
  flex-direction: row;

  &__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.2s;
    color: $black;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }

    &.active {
      background-color: $black;
      color: $white;
    }
  }

  &__text {
    display: block;
    height: 5px;
  }

  &.revert-color {
    .lang-list__link {
      color: $white;

      &.active {
        background-color: $white;
        color: $black;
      }
    }
  }

  &.vertical {
    flex-direction: column;

    .lang-list__item {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.animation {
    .lang-list__item {
      animation: bounce 0.5s 1.3s ease forwards;
      transform: scale(0);

      &_2 {
        animation-delay: 1.4s;
      }
      &_3 {
        animation-delay: 1.5s;
      }
      &_4 {
        animation-delay: 1.6s;
      }

      @keyframes bounce {
        0% {
          transform: scale(0);
        }

        40% {
          transform: scale(1.8);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
