<ul class="lang-list"
    [ngClass]=
      "
      {
        'animation': animation,
        'revert-color': revertColor,
        'vertical': align === 'ver'
       }
      "
>
  <li class="lang-list__item lang-list__item_1 active">
    <a href="#" class="lang-list__link">
      <span class="lang-list__text">en</span>
    </a>
  </li>
  <li class="lang-list__item lang-list__item_2">
    <a href="#" class="lang-list__link active">
      <span class="lang-list__text">ua</span>
    </a>
  </li>
</ul>
