@media screen and (min-width: 1200px) and (max-width: 1345px) {
	.sidebar {
		width: 300px;
		right: 2%;

		&_indent {
			padding: 15px 15px 0 15px;
		}

		&__heading {
			margin-bottom: 15px;
		} 
	}

	.sidebar-news {
		&__link {
			font-size: 0.9em;
		}
	}
}