html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fontsMontserrat-Medium.woff2") format("woff2"), url("../fontsMontserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nord';
  src: url("../fonts/Nord.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto; }

.section__heading-wrap {
  /*position: relative;*/
  /* &:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    content: " ";
  }*/ }

.section__heading {
  font-family: Montserrat-Medium, Arial, sans-serif;
  font-size: 5rem; }

.section__stick {
  width: 100%;
  height: 2px; }
  .section__stick_green {
    background-color: #23e512; }
  .section__stick_blue {
    background-color: #00c7ff; }

.button {
  display: inline-block;
  width: 40%;
  height: 50px;
  line-height: 45px;
  border: 2px solid #0044b2;
  color: #fff;
  font-family: Montserrat-Medium, Arial, sans-serif;
  font-size: 1rem;
  transition: all 0.5s;
  letter-spacing: 1px; }
  .button:hover {
    border-radius: 50px;
    border-color: #23e512;
    color: #23e512; }

.section-block__heading {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font: 3rem Raleway-Regular, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  /*&:before {
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      content: " ";
    }*/ }

.indent {
  margin-left: 20px; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 600; }

.color_green {
  color: #23e512; }

@keyframes head_slide_left {
  from {
    transform: translateX(-50%);
    opscity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_right {
  from {
    transform: translateX(50%);
    opscity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_top {
  from {
    transform: translateY(-50%);
    opscity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes fade {
  from {
    opscity: 0; }
  to {
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_bottom {
  from {
    opscity: 0;
    transform: translateY(50%); }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes header_slide_top {
  from {
    opscity: 0;
    transform: translateY(-50%); }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
/*ANIMATION_ON_SCROLL*/
.fade {
  opacity: 0; }

.fade-in {
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-right {
  transform: translateX(50%);
  opacity: 0; }

.slide-right-in {
  transform: translateX(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-left {
  transform: translateX(-20%);
  opacity: 0; }

.slide-left-in {
  transform: translateX(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-top {
  transform: translateY(-100%);
  opacity: 0; }

.slide-top-in {
  transform: translateY(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-bottom {
  transform: translateY(20%);
  opacity: 0; }

.slide-bottom-in {
  transform: translateY(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.height {
  height: 0; }

.height-in {
  height: 75px; }

/*////////////////////////////////////////////////*/
.border-draw_black:before, .border-draw_black:after {
  width: 0%;
  height: 0%;
  position: absolute;
  content: " ";
  z-index: 1;
  box-sizing: border-box; }

.border-draw_black:after {
  right: 0;
  top: 0;
  transition: height 0.5s linear 0.5s, width 0.5s linear 1s; }

.border-draw_black:before {
  bottom: 0;
  left: 0;
  transition: height 0.5s linear 1.5s, width 0.5s linear 2s; }

.border-draw_black-in:before {
  border-left: 3px solid #000;
  border-top: 3px solid #000;
  height: 100%;
  width: 100%; }

.border-draw_black-in:after {
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  width: 100%;
  height: 100%; }

/*////////////////////////////////////////////////*/
/*END__ANIMATION_ON_SCROLL*/
/*TRANSITION*/
/*about*/
.about__heading-wrap {
  transition: all 1.3s; }

.about__heading {
  transition: all 1s 1.3s; }

.about-descript {
  transition: all 3s 2s; }

.about-descript__text_1 {
  transition: all 2.5s 2.5s; }

.about-descript__text_2 {
  transition: all 2.5s 2.8s; }

.about-descript__text_3 {
  transition: all 2.5s 3.1s; }

.about-descript__text_4 {
  transition: all 2.5s 3.4s; }

.rezume__link {
  transition: all 1.3s; }

/*end__about*/
/*skill*/
.skill__heading-wrap {
  transition: all 1.3s; }

.skill__heading {
  transition: all 1s 1.3s; }

.skill-info_main {
  transition: all 1.3s; }

/*end__skill*/
/*END__TRANSITION*/
.out {
  display: none; }

.preloader-wrap {
  margin: 21% auto;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#4096ee -50%, rgba(64, 150, 238, 0) 60%);
  animation: roll-r 6s linear infinite; }

.preloader {
  padding: 5px;
  animation: roll-l 2s linear infinite; }

.preloader:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff; }

@keyframes roll-r {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes roll-l {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

/*CONTENT*/
.svg-word {
  position: absolute;
  bottom: -8%;
  width: 100%;
  height: 50%; }
  .svg-word__text {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    font: 1.7em Raleway-Regular, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
    opacity: 0;
    animation: opacity 1.5s linear 1 forwards;
    animation-delay: 2.5s; }

.st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 0;
  animation: dash 0.4s linear forwards; }

.st2 {
  animation-delay: 0.4s; }

.st3 {
  animation-delay: 0.8s; }

.st4 {
  animation-delay: 1.2s; }

.st5 {
  animation-delay: 1.6s; }

.st6 {
  animation-delay: 2s; }

.head {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../img/head-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .head__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
    .head__content_center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
  .head__heading {
    color: #fff;
    font: 10rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 15px; }
  .head__subheading {
    color: #fff;
    font: 2rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 15px;
    margin-bottom: 10%; }
  .head_color_green {
    text-shadow: 0px 0px 25px #23e412; }
  .head_color_blue {
    color: #0044b2;
    text-shadow: 0px 0px 25px #0044b2; }
  .head__button {
    box-shadow: 0px 0px 10px #0044b2; }
    .head__button:hover {
      box-shadow: 0px 0px 7px #23e512;
      text-shadow: 0px 0px 3px #23e412; }

.nav-wrap {
  width: 50%;
  margin: 0 auto;
  max-width: 1400px; }

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-list__link {
    position: relative;
    color: #fff;
    font: 1.3rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s; }
    .nav-list__link:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      height: 1px;
      width: 0%;
      background-color: #23e512;
      transition: all 0.3s;
      content: " "; }
    .nav-list__link:hover {
      color: #23e512;
      text-shadow: 0px 0px 7px #23e512; }
    .nav-list__link:hover:before {
      width: 98%; }

.header {
  position: fixed;
  padding-top: 5px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  z-index: 99; }
  .header__logo {
    width: 150px;
    height: 75px;
    fill: #fff;
    stroke: #fff;
    transition: all 0.3s; }
    .header__logo:hover {
      stroke: #00c7ff;
      fill: #00c7ff; }

.logo_black {
  stroke: none; }

.logo_white {
  stroke: none; }

/*header_scroll*/
.header_scroll {
  background-color: rgba(0, 0, 0, 0.3);
  height: 90px; }

.header__logo_scroll {
  height: 90px; }

.logo__circle_scroll {
  opacity: 0; }

/*end__header_scroll*/
.head-slide-left {
  display: inline-block;
  animation: head_slide_left 2s 1.3s 1 forwards;
  opacity: 0;
  margin-right: -55px; }

.head-slide-right {
  display: inline-block;
  animation: head_slide_right 2s 1.3s 1 forwards;
  opacity: 0;
  margin-left: -55px; }

.head-slide-top {
  display: inline-block;
  animation: head_slide_top 2s 1 forwards;
  opacity: 0; }

.head-slide-bottom {
  animation: head_slide_bottom 2s 2.5s 1 forwards;
  opacity: 0; }

.header-slide-top {
  animation: header_slide_top 2s 2.5s 1 forwards;
  opacity: 0; }

.head-fade {
  animation: fade 3s 1.3s 1 forwards;
  opacity: 0; }

.skill {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/head-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .skill__heading-wrap {
    width: 20%;
    position: absolute;
    top: 50px;
    left: 5%;
    text-align: center;
    color: #23e512;
    text-shadow: 0px 0px 25px #23e512; }
    .skill__heading-wrap:before {
      background-color: #23e512; }
  .skill__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }

.skill-info_main {
  position: absolute;
  top: 100px;
  right: 2%;
  width: 40%; }

.skill-info_additional {
  position: absolute;
  bottom: 150px;
  left: 2%;
  width: 40%; }

.skill-info__heading {
  font-size: 2.2rem;
  margin-bottom: 50px; }

.skill-info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .skill-info-list__item {
    width: 27%; }
    .skill-info-list__item:nth-child(4) {
      margin-left: 15%; }
    .skill-info-list__item:nth-child(5) {
      margin-right: 15%; }
  .skill-info-list__icon {
    max-width: 100%;
    height: 120px; }

.work {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff; }
  .work__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 1px solid #333333; }
  .work__heading {
    width: 25%;
    position: absolute;
    top: 30px;
    right: 5%;
    text-align: center;
    color: #00c7ff;
    text-shadow: 0px 0px 25px #00c7ff; }
    .work__heading:before {
      background-color: #00c7ff; }
  .work__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    color: #23e512;
    display: flex;
    align-items: center;
    font: 1.3rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px; }

.btn__icon {
  width: 35px;
  height: 35px;
  margin-left: 5%;
  transition: all 0.7s; }
  .btn__icon_revers {
    transform: rotate(180deg);
    margin-right: 5%;
    margin-left: 0; }

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px; }
  .work-list-wrap {
    width: 85%;
    margin: 10% auto 0 auto; }
  .work-list__item {
    position: relative;
    width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff; }
    .work-list__item:hover {
      box-shadow: 0px 10px 30px 7px rgba(0, 0, 0, 0.8); }
    .work-list__item:hover .work-list-content {
      left: 0; }
    .work-list__item:hover .work-list__image {
      opacity: 0.15;
      transform: scale(1.4); }
  .work-list__image {
    width: 100%;
    transition: all 0.7s; }
  .work-list-content {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 99%;
    transition: all 0.7s; }
    .work-list-content_black:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      height: 90%;
      content: " ";
      border: 2px solid #000;
      z-index: 1; }
    .work-list-content_white:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      height: 90%;
      content: " ";
      border: 2px solid #fff;
      z-index: 1; }
  .work-list__heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font: 1.2rem Montserrat-Medium, Arial, sans-serif; }
    .work-list__heading_black {
      color: #000; }
    .work-list__heading_white {
      color: #fff; }
    .work-list__heading_small {
      font-size: 1.3rem;
      top: 10%; }
  .work-list__descript {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
    font: 0.8rem Raleway-Medium, Arial, sans-serif; }
    .work-list__descript_black {
      color: #000; }
    .work-list__descript_white {
      color: #fff; }
    .work-list__descript_small {
      font-size: 1rem; }
  .work-list__link {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.8rem Raleway-Medium, Arial, sans-serif;
    transition: all 0.5s;
    overflow: hidden;
    letter-spacing: 1px;
    z-index: 2; }
    .work-list__link_small {
      height: 25px; }

a.work-list__link_white {
  color: #fff;
  border: 1px solid #fff; }
  a.work-list__link_white:hover {
    color: #000;
    border: 1px solid #000;
    background-color: #fff; }

a.work-list__link_black {
  color: #000;
  border: 1px solid #000; }
  a.work-list__link_black:hover {
    color: #fff;
    border: 1px solid #000;
    background-color: #000; }

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/photo.jpg) center -200px no-repeat;
  background-size: cover;
  overflow: hidden; }
  .about__heading-wrap {
    width: 20%;
    position: absolute;
    top: 50px;
    right: 5%;
    text-align: center;
    color: #00c7ff;
    text-shadow: 0px 0px 25px #00c7ff; }
    .about__heading-wrap:before {
      background-color: #00c7ff; }

.about-descript {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  box-sizing: border-box; }
  .about-descript-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5%;
    width: 37%;
    padding: 15px;
    /*border: 2px solid #000;*/
    box-sizing: border-box; }
  .about-descript__text {
    color: #fff;
    font: 1.2rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify; }

.rezume__link {
  position: absolute;
  bottom: 120px;
  right: 7%;
  color: #23e512;
  display: flex;
  align-items: center;
  font: 1.2rem Montserrat-Light, Arial, sans-serif; }

.rezume__icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  fill: #23e512; }

.contact {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background: url(../img/collaboration.jpg) center -200px no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/ }
  .contact__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .contact__heading {
    width: 30%;
    position: absolute;
    top: 50px;
    left: 5%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 25px #fff; }
    .contact__heading:before {
      background-color: #fff; }

.contact-form {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .contact-form-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 15px; }
  .contact-form__heading {
    font-size: 2rem;
    margin-bottom: 50px; }
  .contact-form-input, .contact-form-textarea {
    height: 40px;
    width: 90%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box; }
  .contact-form-textarea {
    height: 100px;
    padding-top: 7px;
    padding-left: 15px; }
  .contact-form__icon {
    width: 20px;
    height: 20px;
    margin: 0 15px;
    fill: #fff;
    stroke: #000; }
  .contact-form__input {
    flex-grow: 2;
    height: 90%;
    border: none;
    font: 1rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    color: #000; }
  .contact-form__textarea {
    outline: none;
    color: #000; }
  .contact-form__button {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer; }
    .contact-form__button:before {
      position: absolute;
      top: -110%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: " ";
      background-color: #fff;
      transition: all 0.3s; }
    .contact-form__button:hover {
      color: #000; }
    .contact-form__button:hover:before {
      top: 0; }

.contact-social {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%; }

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .contact-list__item {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer; }
    .contact-list__item:last-child {
      margin-right: 0; }
  .contact-list__icon {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: all 0.5s; }
    .contact-list__icon_1:hover {
      fill: #ff0000; }
    .contact-list__icon_2:hover {
      fill: #00c7ff; }
    .contact-list__icon_3:hover {
      fill: #4a4a4c; }
    .contact-list__icon_4:hover {
      fill: #0060ba; }
    .contact-list__icon_5:hover {
      fill: #103787; }

/*.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	color: #000;
	height: 15vh;
	border-top: 1px solid #000;
}

.contact {
	min-width: 50%;
	padding-left: 3%;
	display: flex;
	align-items: center;
	box-sizing: border-box;

	&__text {
		color: #fff;
		font: 1.5rem Raleway-Medium, Arial, sans-serif;
		margin-right: 30px;
	}

	&-list {
		display: flex;
		align-items: center;

		&__item {
			width: 35px;
			height: 35px;
			margin-right: 15px;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}
		}

		&__icon {
			width: 100%;
			height: 100%;
			fill: #fff;
			transition: all 0.5s;

			&_1:hover {
				fill: #ff0000;
			}
			&_2:hover {
				fill: #00c7ff;
			}
			&_3:hover {
				fill: #4a4a4c;
			}
			&_4:hover {
				fill: #0060ba;
			}
			&_5:hover {
				fill: #103787;
			}
		}
	}
}


.rights {
	display: inline-block;
	margin-right: 3%;
	font-size: 2em;
	letter-spacing: 2px;
	color: #fff;
}*/
/*/////////FOOTER////////*/
.works-page-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  min-height: calc(100vh - 180px); }

.works-page-list {
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between; }
  .works-page-list__item {
    width: 32%;
    margin-bottom: 20px;
    height: 210px; }

.footer {
  max-height: 100px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__logo {
    height: 75px;
    /*width: 20%;*/
    fill: #fff;
    stroke: #fff;
    transition: all 0.2s; }
    .footer__logo:hover {
      stroke: #00c7ff;
      fill: #00c7ff; }

/*CONTENT*/
@media screen and (min-width: 1024px) and (max-width: 1285px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .autor {
    margin-top: 20px;
    width: 30%; }
    .autor__photo {
      width: 120px;
      height: 120px; }
    .autor__name {
      font-size: 1.3em; }
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }
  .head__nav {
    width: 15%;
    margin-top: 25px; }
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    width: 40%; }
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    .popup__text {
      font-size: 0.9em; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .skill-wrap {
    height: 90%; }
  .skill-hover__heading {
    font-size: 1.7em; }
  .skill-hover__descript {
    font-size: 0.9em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 10em; }
  .l-tools {
    padding: 1% 0; }
  .tools__heading {
    font-size: 1.7em; }
  .tools__descript {
    margin: 0 4%;
    font-size: 0.9em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }
  .work__item {
    height: 240px;
    margin-bottom: 10px; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about-descript {
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px; }
  /*ABOUT*/
  /*FOOTER*/
  .contact-icon {
    font-size: 2em; }
  .rights {
    font-size: 1.5em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .autor {
    margin-top: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .autor__photo {
      width: 100px;
      height: 100px; }
    .autor__name {
      font-size: 1.3em; }
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }
  .head__nav {
    width: 25%;
    margin-top: 25px; }
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    width: 40%; }
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    .popup__text {
      font-size: 0.9em; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .skill-wrap {
    height: 50%; }
  .skill-hover__heading {
    font-size: 1.3em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 0.9em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 130%; }
    .tools__heading {
      font-size: 1.7em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 0.9em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }
  .work__item {
    height: 220px;
    margin-bottom: 10px; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about-descript {
    width: 85%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px; }
  /*ABOUT*/
  /*FOOTER*/
  .contact-icon {
    font-size: 2em; }
  .rights {
    font-size: 1.5em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; } }

@media screen and (min-width: 600px) and (max-width: 767px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .head {
    background-image: none;
    background-color: #fff; }
  .autor {
    margin-top: 9%;
    width: 90%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center; }
    .autor__photo {
      float: left;
      width: 200px;
      height: 200px; }
    .autor__name {
      float: right;
      font-size: 1.8em; }
    .autor__specialisation {
      float: right;
      font-size: 1.2em;
      margin-right: 0%; }
  .head__nav {
    width: 90%;
    margin: 15% auto 0 auto; }
  .menu__link {
    height: 70px;
    font-size: 1.2em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    display: none; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .knowledge {
    height: 900px;
    padding-bottom: 30px; }
  .skill-wrap {
    height: 53%; }
  .skill-hover__heading {
    font-size: 1.8em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 1.2em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 130%; }
    .tools__heading {
      font-size: 1.6em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 1.2em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 2%;
      border-width: 2px; }
  .work__item {
    width: 90%;
    height: 300px;
    margin: 0 auto 10px auto; }
    .work__item:nth-child(n+4) {
      display: none; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about {
    height: auto;
    padding-bottom: 30px; }
  .about-descript {
    width: 90%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px;
    width: 100%; }
  a.about-descript__link {
    margin-left: 5%; }
  .icon-profile {
    font-size: 3em; }
  /*ABOUT*/
  /*FOOTER*/
  .footer {
    display: block; }
  .contact-icon {
    width: 100%;
    font-size: 2.3em;
    margin-top: 3%; }
  .rights {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1.4em; }
  /*FOOTER*/
  .icon-arrow-up {
    font-size: 1em; }
  a.to-top {
    right: 5%; } }

@media screen and (min-width: 600px) and (max-width: 767px) and (min-height: 320px) and (max-height: 420px) {
  .head {
    text-align: center; }
  .autor {
    margin-top: 1%; }
    .autor__photo {
      width: 50px;
      height: 50px; }
    .autor__name {
      float: right;
      font-size: 1em; }
    .autor__specialisation {
      float: right;
      font-size: 0.8em;
      margin-right: 0%; }
  .head__nav {
    width: 50%;
    margin: 5% auto 0 24%; }
  .menu__link {
    height: 25px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }
  a.to-top {
    right: 10%; } }

@media screen and (min-width: 320px) and (max-width: 500px) {
  .section-heading {
    font-size: 3em; }
  /*HEAD*/
  .head {
    background-image: none;
    background-color: #fff; }
  .autor {
    margin-top: 7%;
    width: 95%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center; }
    .autor__photo {
      float: left;
      width: 120px;
      height: 120px; }
    .autor__name {
      float: right;
      font-size: 1.2em; }
    .autor__specialisation {
      float: right;
      font-size: 1em;
      margin-right: 1%; }
  .head__nav {
    width: 90%;
    margin: 15% auto 0 auto; }
  .menu__link {
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    border-width: 1px; }
  .popup {
    display: none; }
  /*HEAD*/
  /*KNOWLEDGE*/
  .knowledge {
    height: 1520px;
    padding-bottom: 30px; }
  .skill-wrap {
    height: 53%; }
  .skill__item {
    float: none;
    width: 100%;
    height: 250px;
    margin: 0 auto 5px auto; }
  .skill-hover__heading {
    font-size: 1.8em; }
  .skill-hover__descript {
    width: 80%;
    font-size: 1.2em;
    letter-spacing: 0; }
  .skill__icon {
    font-size: 7em; }
  .l-tools {
    padding: 1% 0; }
  .tools {
    width: 90%;
    top: 152%; }
    .tools__heading {
      font-size: 1.6em; }
    .tools__descript {
      margin: 0 4%;
      font-size: 1.2em; }
  /*KNOWLEDGE*/
  /*MY_WORK*/
  .my-work {
    padding-bottom: 40px; }
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 2%;
      border-width: 2px; }
  .work__item {
    width: 90%;
    height: 250px;
    margin: 0 auto 10px auto; }
    .work__item:nth-child(n+4) {
      display: none; }
  .icon-search {
    font-size: 4em; }
  /*MY_WORK*/
  /*ABOUT*/
  .about {
    height: auto;
    padding-bottom: 30px; }
  .about-descript {
    width: 90%;
    margin-top: 4%; }
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }
  .rezume-block {
    margin-top: 50px;
    width: 100%; }
  a.about-descript__link {
    margin-left: 5%; }
  .icon-profile {
    font-size: 3em; }
  /*ABOUT*/
  /*FOOTER*/
  .footer {
    display: block; }
  .contact-icon {
    width: 100%;
    font-size: 2.3em;
    margin-top: 3%; }
  .mail {
    font-size: 0.33em; }
  .rights {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1em; }
  /*FOOTER*/
  a.to-top {
    right: 2%; }
  .icon-arrow-up {
    font-size: 1em; } }
