/* line 1, ../sass/common.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 20, ../sass/common.scss */
html {
  line-height: 1; }

/* line 22, ../sass/common.scss */
ol, ul {
  list-style: none; }

/* line 25, ../sass/common.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../sass/common.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../sass/common.scss */
q, blockquote {
  quotes: none; }

/* line 36, ../sass/common.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 40, ../sass/common.scss */
a img {
  border: none; }

/* line 43, ../sass/common.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 48, ../sass/common.scss */
a {
  text-decoration: none; }

/* line 51, ../sass/common.scss */
a:link {
  color: inherit;
  text-decoration: none; }

/* line 55, ../sass/common.scss */
a:visited {
  color: inherit; }

/* line 58, ../sass/common.scss */
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/* line 64, ../sass/common.scss */
.container {
  position: relative;
  width: 90%;
  margin: 0 auto; }

/* line 72, ../sass/common.scss */
.show {
  display: block; }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../font/Rubik-Bold.eot");
  src: url("../font/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Rubik-Bold.woff") format("woff"), url("../font/Rubik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nord';
  src: url("../font/Nord.eot");
  src: url("../font/Nord.eot?#iefix") format("embedded-opentype"), url("../font/Nord.woff") format("woff"), url("../font/Nord.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto-Black';
  src: url("../font/Roboto-Black.eot");
  src: url("../font/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Black.woff") format("woff"), url("../font/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../font/GothamPro-Bold.eot");
  src: url("../font/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GothamPro-Bold.woff") format("woff"), url("../font/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'PlayfairBold';
  src: url("../font/PlayfairDisplay-Bold.eot");
  src: url("../font/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PlayfairDisplay-Bold.woff") format("woff"), url("../font/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?slltqm");
  src: url("../font/icomoon.eot?slltqm#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?slltqm") format("truetype"), url("../font/icomoon.woff?slltqm") format("woff"), url("../font/icomoon.svg?slltqm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 82, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 97, ../sass/font.scss */
.icon-circle-down:before {
  content: "\ea43"; }

@font-face {
  font-family: 'html-icon';
  src: url("../font/html-icon.eot?b9zdnh");
  src: url("../font/html-icon.eot?b9zdnh#iefix") format("embedded-opentype"), url("../font/html-icon.ttf?b9zdnh") format("truetype"), url("../font/html-icon.woff?b9zdnh") format("woff"), url("../font/html-icon.svg?b9zdnh#html-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 112, ../sass/font.scss */
[class^=""], [class*=""] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'html-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 127, ../sass/font.scss */
.html-five:before {
  content: "\eae4"; }

@font-face {
  font-family: 'css-icon';
  src: url("../font/css-icon.eot?cwj2od");
  src: url("../font/css-icon.eot?cwj2od#iefix") format("embedded-opentype"), url("../font/css-icon.ttf?cwj2od") format("truetype"), url("../font/css-icon.woff?cwj2od") format("woff"), url("../font/css-icon.svg?cwj2od#css-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 142, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'css-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 157, ../sass/font.scss */
.icon-css:before {
  content: "\e900";
  color: #1572b6; }

@font-face {
  font-family: 'js-icon';
  src: url("../font/js-icon.eot?xv588m");
  src: url("../font/js-icon.eot?xv588m#iefix") format("embedded-opentype"), url("../font/js-icon.ttf?xv588m") format("truetype"), url("../font/js-icon.woff?xv588m") format("woff"), url("../font/js-icon.svg?xv588m#js-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 173, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'js-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 188, ../sass/font.scss */
.icon-js:before {
  content: "\e900";
  color: #f7df1e; }

@font-face {
  font-family: 'mobile-icon';
  src: url("../font/mobile-icon.eot?nlawqj");
  src: url("../font/mobile-icon.eot?nlawqj#iefix") format("embedded-opentype"), url("../font/mobile-icon.ttf?nlawqj") format("truetype"), url("../font/mobile-icon.woff?nlawqj") format("woff"), url("../font/mobile-icon.svg?nlawqj#mobile-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 203, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobile-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 216, ../sass/font.scss */
.icon-mobile:before {
  content: "\e900"; }

@font-face {
  font-family: 'work-icon';
  src: url("../font/work-icon.eot?zelt52");
  src: url("../font/work-icon.eot?zelt52#iefix") format("embedded-opentype"), url("../font/work-icon.ttf?zelt52") format("truetype"), url("../font/work-icon.woff?zelt52") format("woff"), url("../font/work-icon.svg?zelt52#work-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 231, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'work-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 246, ../sass/font.scss */
.icon-search:before {
  content: "\e986"; }

@font-face {
  font-family: 'footer-icon';
  src: url("../font/footer-icon.eot?hx63yp");
  src: url("../font/footer-icon.eot?hx63yp#iefix") format("embedded-opentype"), url("../font/footer-icon.ttf?hx63yp") format("truetype"), url("../font/footer-icon.woff?hx63yp") format("woff"), url("../font/footer-icon.svg?hx63yp#footer-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 263, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'footer-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 278, ../sass/font.scss */
.icon-git:before {
  content: "\e900"; }

/* line 281, ../sass/font.scss */
.icon-facebook2:before {
  content: "\ea91"; }

/* line 284, ../sass/font.scss */
.icon-instagram:before {
  content: "\ea92"; }

@font-face {
  font-family: 'toTop-icon';
  src: url("../font/toTop-icon.eot?wxdf2d");
  src: url("../font/toTop-icon.eot?wxdf2d#iefix") format("embedded-opentype"), url("../font/toTop-icon.ttf?wxdf2d") format("truetype"), url("../font/toTop-icon.woff?wxdf2d") format("woff"), url("../font/toTop-icon.svg?wxdf2d#toTop-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 301, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'toTop-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 316, ../sass/font.scss */
.icon-arrow-up:before {
  content: "\ea32"; }

@font-face {
  font-family: 'menu-icon';
  src: url("../font/menu-icon.eot?ctwrx0");
  src: url("../font/menu-icon.eot?ctwrx0#iefix") format("embedded-opentype"), url("../font/menu-icon.ttf?ctwrx0") format("truetype"), url("../font/menu-icon.woff?ctwrx0") format("woff"), url("../font/menu-icon.svg?ctwrx0#menu-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 331, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 346, ../sass/font.scss */
.icon-menu:before {
  content: "\e9bd"; }

@font-face {
  font-family: 'rezume-icon';
  src: url("../font/rezume-icon.eot?h2gwqs");
  src: url("../font/rezume-icon.eot?h2gwqs#iefix") format("embedded-opentype"), url("../font/rezume-icon.ttf?h2gwqs") format("truetype"), url("../font/rezume-icon.woff?h2gwqs") format("woff"), url("../font/rezume-icon.svg?h2gwqs#rezume-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 361, ../sass/font.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rezume-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 376, ../sass/font.scss */
.icon-profile:before {
  content: "\e923"; }

/* line 6, ../sass/main.scss */
.section-heading {
  margin-top: 25px;
  text-align: center;
  color: #fff;
  font: 3.5em Gotham-Bold, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px; }

/*/////////HEAD///////////*/
/* line 17, ../sass/main.scss */
.head {
  height: 100vh;
  border-top: 1px solid #fff;
  background: url(../img/head-bg.jpeg) 0 -150px no-repeat;
  background-size: cover; }

/* line 25, ../sass/main.scss */
.autor {
  display: inline-block;
  float: right;
  width: 30%;
  margin-top: 30px;
  margin-right: 2%; }
  /* line 33, ../sass/main.scss */
  .autor__photo {
    float: right;
    width: 250px;
    height: 250px;
    max-width: 100%;
    border-radius: 50%; }
  /* line 42, ../sass/main.scss */
  .autor__name {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #283130;
    font: 2em Roboto-Black, Arial, sans-serif;
    font-weight: bold; }
  /* line 52, ../sass/main.scss */
  .autor__specialisation {
    display: inline-block;
    float: right;
    color: #008ec1;
    text-transform: uppercase;
    font: 1.3em Nord, Arial, sans-serif; }

/*animation*/
/* line 62, ../sass/main.scss */
.fadeInDown {
  animation-delay: 0.7s;
  animation-duration: 2s; }

/* line 66, ../sass/main.scss */
.fadeInUp {
  /*animation-delay: 1s;*/
  animation-duration: 3s; }

/* line 70, ../sass/main.scss */
.swing {
  animation-iteration-count: infinite;
  animation-duration: 2.5s; }

/*animation*/
/* line 77, ../sass/main.scss */
.head__nav {
  float: left;
  margin-top: 50px;
  width: 15%; }

/* line 82, ../sass/main.scss */
.icon-menu {
  font-size: 2em;
  font-family: 'menu-icon' !important; }

/* line 86, ../sass/main.scss */
.menu {
  margin-left: 10%; }
  /* line 88, ../sass/main.scss */
  .menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #283130;
    height: 50px;
    font: 1.4em Gotham-Bold, Arial, sans-serif;
    margin-bottom: 5px;
    border: 2px solid #283130;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s; }
    /* line 102, ../sass/main.scss */
    .menu__link:hover {
      background-color: #283130;
      padding: 2%; }
  /* line 108, ../sass/main.scss */
  .menu a {
    color: #283130; }
    /* line 111, ../sass/main.scss */
    .menu a:hover {
      color: #fff; }

/* line 117, ../sass/main.scss */
.head__button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 75px;
  margin-top: 120px;
  background: none;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.5s;
  animation: move 1.5s linear 5 forwards; }
  /* line 132, ../sass/main.scss */
  .head__button:hover {
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    color: #283130; }

/* line 139, ../sass/main.scss */
.icon-circle-down {
  font-size: 4em;
  font-family: 'icomoon' !important; }

@keyframes move {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(50px);
    color: #008ec1; } }
/* line 153, ../sass/main.scss */
.popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 25%;
  text-align: center; }
  /* line 162, ../sass/main.scss */
  .popup__btn {
    right: 30%;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 4%;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 2em Roboto-Black, Arial, sans-serif;
    cursor: pointer;
    transition: all 0.2s; }
    /* line 175, ../sass/main.scss */
    .popup__btn:hover {
      opacity: 0.7; }
  /* line 180, ../sass/main.scss */
  .popup__text {
    display: none;
    margin-top: 10%;
    width: 100%;
    font: 1.2em PlayfairBold, serif;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5; }

/*/////////HEAD///////////*/
/*/////////KNOWLEGE////////*/
/* line 193, ../sass/main.scss */
.knowledge {
  background: url(../img/knowledge-bg.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #7b7c7b;
  border-top: 1px solid #EDEDED;
  height: 100vh; }

/* line 203, ../sass/main.scss */
.skill {
  display: flex;
  flex-wrap: wrap;
  height: 100%; }
  /* line 208, ../sass/main.scss */
  .skill-wrap {
    position: relative;
    height: 92%; }
  /* line 213, ../sass/main.scss */
  .skill__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box; }
  /* line 224, ../sass/main.scss */
  .skill-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    display: block; }
    /* line 232, ../sass/main.scss */
    .skill-hover_bg_red {
      background-color: rgba(255, 0, 0, 0.5); }
    /* line 235, ../sass/main.scss */
    .skill-hover_bg_blue {
      background-color: rgba(34, 154, 193, 0.5); }
    /* line 238, ../sass/main.scss */
    .skill-hover_bg_yellow {
      background-color: rgba(188, 188, 0, 0.5); }
    /* line 241, ../sass/main.scss */
    .skill-hover_bg_sky {
      background-color: rgba(1, 160, 12, 0.5); }
    /* line 244, ../sass/main.scss */
    .skill-hover__heading {
      margin-top: 8%;
      font: 2.3em Roboto-Black, Arial, sans-serif;
      letter-spacing: 2px;
      color: #fff; }
    /* line 251, ../sass/main.scss */
    .skill-hover__descript {
      margin-top: 5%;
      width: 40%;
      margin: 5% auto 0 auto;
      font: 1.2em PlayfairBold, serif;
      letter-spacing: 2px;
      color: #fff; }

/* line 261, ../sass/main.scss */
.l-skill {
  margin-top: 30px; }

/* line 265, ../sass/main.scss */
.skill__icon {
  font-size: 10em; }

/* line 268, ../sass/main.scss */
.html-five {
  font-family: 'html-icon' !important;
  color: red; }

/* line 272, ../sass/main.scss */
.icon-css {
  font-family: 'css-icon' !important; }

/* line 275, ../sass/main.scss */
.icon-js {
  font-family: 'js-icon' !important; }

/* line 278, ../sass/main.scss */
.icon-mobile {
  color: #00ff11;
  font-family: 'mobile-icon' !important; }

/* line 283, ../sass/main.scss */
.l-tools {
  padding: 2% 5px; }

/* line 286, ../sass/main.scss */
.tools {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #283130;
  border-radius: 15px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.8); }
  /* line 296, ../sass/main.scss */
  .tools__heading {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    font: 2.3em Rubik-Bold, Arial, sans-serif; }
  /* line 305, ../sass/main.scss */
  .tools__descript {
    margin: 0 8%;
    text-align: justify;
    color: #75fff1;
    line-height: 1.3;
    font: 1.2em Georgia, "Times New Roman", sans-serif; }

/* line 313, ../sass/main.scss */
a.tools__link {
  color: #02f90e;
  text-decoration: underline; }
  /* line 316, ../sass/main.scss */
  a.tools__link:hover {
    color: #fff; }

/* line 323, ../sass/main.scss */
.text-color_pink {
  color: #C6538C;
  font-size: 1.5em; }
/* line 328, ../sass/main.scss */
.text-color_purpure {
  color: #E84C50;
  font-size: 1.5em; }
/* line 333, ../sass/main.scss */
.text-color_orange {
  color: #ffaa00;
  font-size: 1.5em; }
/* line 338, ../sass/main.scss */
.text-color_violet {
  color: #8e00cc;
  font-size: 1.5em; }
/* line 343, ../sass/main.scss */
.text-color_red {
  color: red;
  font-size: 1.5em; }
/* line 348, ../sass/main.scss */
.text-color_gray {
  color: #9e9e9e;
  font-size: 1.5em; }
/* line 352, ../sass/main.scss */
.text-color_white {
  color: #fff;
  font-size: 1.5em; }

/*/////////KNOWLEGE////////*/
/*/////////MY_WORK////////*/
/* line 363, ../sass/main.scss */
.my-work {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #3F4C54;
  padding-bottom: 100px; }
  /* line 369, ../sass/main.scss */
  .my-work__btn {
    position: relative;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1%;
    background-color: transparent;
    font: 2.5em Roboto-Black, Arial, sans-serif;
    color: #283130;
    text-transform: uppercase;
    border: 5px solid #283130;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s; }
    /* line 385, ../sass/main.scss */
    .my-work__btn:hover {
      color: #fff;
      background-color: #283130; }

/* line 392, ../sass/main.scss */
.section-heading_color_white {
  color: #283130; }

/* line 396, ../sass/main.scss */
.l-work {
  margin-top: 30px; }

/* line 399, ../sass/main.scss */
.work {
  /*height: 75%;*/
  display: flex;
  flex-wrap: wrap; }
  /* line 404, ../sass/main.scss */
  .work__item {
    position: relative;
    margin-bottom: 20px;
    height: 350px;
    width: 33.333%;
    border-radius: 15px;
    background-color: #000;
    box-sizing: border-box;
    transition: 0.3s all;
    overflow: hidden; }
    /* line 415, ../sass/main.scss */
    .work__item:hover .work__img {
      opacity: 0.3;
      transform: scale(1.2); }
    /* line 420, ../sass/main.scss */
    .work__item:hover .icon-search {
      display: block; }
    /* line 424, ../sass/main.scss */
    .work__item:nth-child(n+7) {
      display: none; }
  /* line 430, ../sass/main.scss */
  .work__img {
    min-width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;
    transition: all 0.5s; }

/* line 438, ../sass/main.scss */
a.work__link {
  border-radius: 15px; }

/* line 442, ../sass/main.scss */
.icon-search {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'work-icon' !important;
  font-size: 8em;
  color: #fff;
  z-index: 10; }

/*/////////MY_WORK////////*/
/*/////////ABOUT////////*/
/* line 460, ../sass/main.scss */
.about {
  height: 85vh;
  padding-bottom: 80px;
  background: url(../img/lamp.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #000; }

/* line 468, ../sass/main.scss */
.section-heading_color_black {
  color: #fff; }

/* line 472, ../sass/main.scss */
.about-descript {
  position: relative;
  width: 70%;
  margin: 5% auto 0 auto;
  background-color: transparent; }
  /* line 478, ../sass/main.scss */
  .about-descript__text {
    color: #fff;
    margin-bottom: 20px;
    text-align: justify;
    font: 1.5em PlayfairBold, "Times New Roman", serif;
    line-height: 1.4;
    letter-spacing: 2px; }

/* line 488, ../sass/main.scss */
.icon-profile {
  font-family: 'rezume-icon' !important;
  font-size: 2em;
  margin-left: 20%;
  color: green; }
  /* line 493, ../sass/main.scss */
  .icon-profile:hover {
    color: #00ff11; }

/* line 497, ../sass/main.scss */
.rezume-block {
  margin-top: 100px;
  display: flex;
  align-items: center; }

/* line 502, ../sass/main.scss */
.indent {
  margin-left: 5%; }

/* line 505, ../sass/main.scss */
.italic {
  font-style: italic; }

/* line 508, ../sass/main.scss */
.bold {
  font-weight: 600; }

/*/////////ABOUT////////*/
/*/////////FOOTER////////*/
/* line 515, ../sass/main.scss */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  height: 15vh;
  border-top: 1px solid #000; }

/* line 525, ../sass/main.scss */
.contact-icon {
  position: relative;
  width: 30%;
  font-size: 3em;
  margin-left: 3%; }
  /* line 530, ../sass/main.scss */
  .contact-icon__item {
    display: inline-block;
    margin-right: 5%; }
    /* line 534, ../sass/main.scss */
    .contact-icon__item:hover {
      color: gray; }

/* line 539, ../sass/main.scss */
.icon-git, .icon-facebook2, .icon-instagram {
  font-family: 'footer-icon' !important; }

/* line 543, ../sass/main.scss */
.mail {
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* line 549, ../sass/main.scss */
.rights {
  display: inline-block;
  margin-right: 3%;
  font-size: 2em;
  letter-spacing: 2px; }

/*/////////FOOTER////////*/
/* line 558, ../sass/main.scss */
a.to-top {
  position: fixed;
  display: none;
  right: 1%;
  top: 400px;
  padding: 1%;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 10px;
  background: #000;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: border-box;
  z-index: 10; }
  /* line 575, ../sass/main.scss */
  a.to-top:hover {
    opacity: 1; }

/* line 580, ../sass/main.scss */
.icon-arrow-up {
  font-size: 2em;
  font-family: 'toTop-icon' !important; }

@media screen and (min-width: 1345px) and (max-width: 1440px) {
  /* line 3, ../sass/mediaQueris_1345-1440.scss */
  .section-heading {
    font-size: 3em; }

  /*HEAD*/
  /* line 8, ../sass/mediaQueris_1345-1440.scss */
  .autor {
    margin-top: 20px;
    width: 30%; }
    /* line 12, ../sass/mediaQueris_1345-1440.scss */
    .autor__photo {
      width: 150px;
      height: 150px; }
    /* line 18, ../sass/mediaQueris_1345-1440.scss */
    .autor__name {
      font-size: 1.5em; }
    /* line 22, ../sass/mediaQueris_1345-1440.scss */
    .autor__specialisation {
      font-size: 1em;
      margin-right: 1%; }

  /* line 28, ../sass/mediaQueris_1345-1440.scss */
  .head__nav {
    width: 15%;
    margin-top: 25px; }

  /* line 33, ../sass/mediaQueris_1345-1440.scss */
  .menu__link {
    height: 30px;
    font-size: 0.9em;
    border-radius: 10px;
    border-width: 1px; }

  /* line 42, ../sass/mediaQueris_1345-1440.scss */
  .popup__btn {
    font-size: 1em;
    padding: 4% 4%; }
  /* line 47, ../sass/mediaQueris_1345-1440.scss */
  .popup__text {
    font-size: 0.9em; }

  /*HEAD*/
  /*KNOWLEDGE*/
  /* line 55, ../sass/mediaQueris_1345-1440.scss */
  .skill-wrap {
    height: 90%; }
  /* line 60, ../sass/mediaQueris_1345-1440.scss */
  .skill-hover__heading {
    font-size: 2em; }
  /* line 64, ../sass/mediaQueris_1345-1440.scss */
  .skill-hover__descript {
    font-size: 0.9em;
    letter-spacing: 0; }

  /* line 70, ../sass/mediaQueris_1345-1440.scss */
  .skill__icon {
    font-size: 10em; }

  /* line 75, ../sass/mediaQueris_1345-1440.scss */
  .tools__heading {
    font-size: 2em; }
  /* line 79, ../sass/mediaQueris_1345-1440.scss */
  .tools__descript {
    font-size: 1em; }

  /*KNOWLEDGE*/
  /*MY_WORK*/
  /* line 86, ../sass/mediaQueris_1345-1440.scss */
  .my-work {
    padding-bottom: 40px; }
    /* line 89, ../sass/mediaQueris_1345-1440.scss */
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }

  /* line 97, ../sass/mediaQueris_1345-1440.scss */
  .work__item {
    height: 270px;
    margin-bottom: 10px; }

  /* line 102, ../sass/mediaQueris_1345-1440.scss */
  .icon-search {
    font-size: 4em; }

  /*MY_WORK*/
  /*ABOUT*/
  /* line 108, ../sass/mediaQueris_1345-1440.scss */
  .about-descript {
    margin-top: 4%; }
    /* line 110, ../sass/mediaQueris_1345-1440.scss */
    .about-descript__text {
      font-size: 1em;
      letter-spacing: 1px; }

  /* line 115, ../sass/mediaQueris_1345-1440.scss */
  .rezume-block {
    margin-top: 50px; }

  /*ABOUT*/
  /*FOOTER*/
  /* line 121, ../sass/mediaQueris_1345-1440.scss */
  .contact-icon {
    font-size: 2em; }

  /* line 124, ../sass/mediaQueris_1345-1440.scss */
  .rights {
    font-size: 1.5em; }

  /*FOOTER*/
  /* line 130, ../sass/mediaQueris_1345-1440.scss */
  .icon-arrow-up {
    font-size: 1em; } }
@media screen and (min-width: 1024px) and (max-width: 1285px) {
  /* line 3, ../sass/mediaQueris_1024-1280.scss */
  .section-heading {
    font-size: 3em; }

  /*HEAD*/
  /* line 8, ../sass/mediaQueris_1024-1280.scss */
  .autor {
    margin-top: 20px;
    width: 30%; }
    /* line 12, ../sass/mediaQueris_1024-1280.scss */
    .autor__photo {
      width: 120px;
      height: 120px; }
    /* line 18, ../sass/mediaQueris_1024-1280.scss */
    .autor__name {
      font-size: 1.3em; }
    /* line 22, ../sass/mediaQueris_1024-1280.scss */
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }

  /* line 28, ../sass/mediaQueris_1024-1280.scss */
  .head__nav {
    width: 15%;
    margin-top: 25px; }

  /* line 33, ../sass/mediaQueris_1024-1280.scss */
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }

  /* line 41, ../sass/mediaQueris_1024-1280.scss */
  .popup {
    width: 40%; }
    /* line 44, ../sass/mediaQueris_1024-1280.scss */
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    /* line 49, ../sass/mediaQueris_1024-1280.scss */
    .popup__text {
      font-size: 0.9em; }

  /*HEAD*/
  /*KNOWLEDGE*/
  /* line 57, ../sass/mediaQueris_1024-1280.scss */
  .skill-wrap {
    height: 90%; }
  /* line 62, ../sass/mediaQueris_1024-1280.scss */
  .skill-hover__heading {
    font-size: 1.7em; }
  /* line 66, ../sass/mediaQueris_1024-1280.scss */
  .skill-hover__descript {
    font-size: 0.9em;
    letter-spacing: 0; }

  /* line 72, ../sass/mediaQueris_1024-1280.scss */
  .skill__icon {
    font-size: 10em; }

  /* line 76, ../sass/mediaQueris_1024-1280.scss */
  .l-tools {
    padding: 1% 0; }

  /* line 80, ../sass/mediaQueris_1024-1280.scss */
  .tools__heading {
    font-size: 1.7em; }
  /* line 84, ../sass/mediaQueris_1024-1280.scss */
  .tools__descript {
    margin: 0 4%;
    font-size: 0.9em; }

  /*KNOWLEDGE*/
  /*MY_WORK*/
  /* line 92, ../sass/mediaQueris_1024-1280.scss */
  .my-work {
    padding-bottom: 40px; }
    /* line 95, ../sass/mediaQueris_1024-1280.scss */
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }

  /* line 103, ../sass/mediaQueris_1024-1280.scss */
  .work__item {
    height: 240px;
    margin-bottom: 10px; }

  /* line 108, ../sass/mediaQueris_1024-1280.scss */
  .icon-search {
    font-size: 4em; }

  /*MY_WORK*/
  /*ABOUT*/
  /* line 114, ../sass/mediaQueris_1024-1280.scss */
  .about-descript {
    margin-top: 4%; }
    /* line 116, ../sass/mediaQueris_1024-1280.scss */
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }

  /* line 121, ../sass/mediaQueris_1024-1280.scss */
  .rezume-block {
    margin-top: 50px; }

  /*ABOUT*/
  /*FOOTER*/
  /* line 127, ../sass/mediaQueris_1024-1280.scss */
  .contact-icon {
    font-size: 2em; }

  /* line 130, ../sass/mediaQueris_1024-1280.scss */
  .rights {
    font-size: 1.5em; }

  /*FOOTER*/
  /* line 136, ../sass/mediaQueris_1024-1280.scss */
  .icon-arrow-up {
    font-size: 1em; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 3, ../sass/mediaQueris_768-1023.scss */
  .section-heading {
    font-size: 3em; }

  /*HEAD*/
  /* line 8, ../sass/mediaQueris_768-1023.scss */
  .autor {
    margin-top: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    /* line 15, ../sass/mediaQueris_768-1023.scss */
    .autor__photo {
      width: 100px;
      height: 100px; }
    /* line 21, ../sass/mediaQueris_768-1023.scss */
    .autor__name {
      font-size: 1.3em; }
    /* line 25, ../sass/mediaQueris_768-1023.scss */
    .autor__specialisation {
      font-size: 0.9em;
      margin-right: 1%; }

  /* line 31, ../sass/mediaQueris_768-1023.scss */
  .head__nav {
    width: 25%;
    margin-top: 25px; }

  /* line 36, ../sass/mediaQueris_768-1023.scss */
  .menu__link {
    height: 30px;
    font-size: 0.8em;
    border-radius: 10px;
    border-width: 1px; }

  /* line 44, ../sass/mediaQueris_768-1023.scss */
  .popup {
    width: 40%; }
    /* line 47, ../sass/mediaQueris_768-1023.scss */
    .popup__btn {
      font-size: 1em;
      padding: 4% 4%; }
    /* line 52, ../sass/mediaQueris_768-1023.scss */
    .popup__text {
      font-size: 0.9em; }

  /*HEAD*/
  /*KNOWLEDGE*/
  /* line 60, ../sass/mediaQueris_768-1023.scss */
  .skill-wrap {
    height: 50%; }
  /* line 65, ../sass/mediaQueris_768-1023.scss */
  .skill-hover__heading {
    font-size: 1.3em; }
  /* line 69, ../sass/mediaQueris_768-1023.scss */
  .skill-hover__descript {
    width: 80%;
    font-size: 0.9em;
    letter-spacing: 0; }

  /* line 76, ../sass/mediaQueris_768-1023.scss */
  .skill__icon {
    font-size: 7em; }

  /* line 80, ../sass/mediaQueris_768-1023.scss */
  .l-tools {
    padding: 1% 0; }

  /* line 83, ../sass/mediaQueris_768-1023.scss */
  .tools {
    width: 90%;
    top: 130%; }
    /* line 86, ../sass/mediaQueris_768-1023.scss */
    .tools__heading {
      font-size: 1.7em; }
    /* line 90, ../sass/mediaQueris_768-1023.scss */
    .tools__descript {
      margin: 0 4%;
      font-size: 0.9em; }

  /*KNOWLEDGE*/
  /*MY_WORK*/
  /* line 98, ../sass/mediaQueris_768-1023.scss */
  .my-work {
    padding-bottom: 40px; }
    /* line 101, ../sass/mediaQueris_768-1023.scss */
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 1%;
      border-width: 2px; }

  /* line 109, ../sass/mediaQueris_768-1023.scss */
  .work__item {
    height: 220px;
    margin-bottom: 10px; }

  /* line 114, ../sass/mediaQueris_768-1023.scss */
  .icon-search {
    font-size: 4em; }

  /*MY_WORK*/
  /*ABOUT*/
  /* line 120, ../sass/mediaQueris_768-1023.scss */
  .about-descript {
    width: 85%;
    margin-top: 4%; }
    /* line 123, ../sass/mediaQueris_768-1023.scss */
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }

  /* line 128, ../sass/mediaQueris_768-1023.scss */
  .rezume-block {
    margin-top: 50px; }

  /*ABOUT*/
  /*FOOTER*/
  /* line 134, ../sass/mediaQueris_768-1023.scss */
  .contact-icon {
    font-size: 2em; }

  /* line 137, ../sass/mediaQueris_768-1023.scss */
  .rights {
    font-size: 1.5em; }

  /*FOOTER*/
  /* line 143, ../sass/mediaQueris_768-1023.scss */
  .icon-arrow-up {
    font-size: 1em; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* line 3, ../sass/mediaQueris_600-767.scss */
  .section-heading {
    font-size: 3em; }

  /*HEAD*/
  /* line 8, ../sass/mediaQueris_600-767.scss */
  .head {
    background-image: none;
    background-color: #fff; }

  /* line 12, ../sass/mediaQueris_600-767.scss */
  .autor {
    margin-top: 12%;
    width: 90%;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center; }
    /* line 20, ../sass/mediaQueris_600-767.scss */
    .autor__photo {
      float: left;
      width: 200px;
      height: 200px; }
    /* line 27, ../sass/mediaQueris_600-767.scss */
    .autor__name {
      float: right;
      font-size: 1.8em; }
    /* line 32, ../sass/mediaQueris_600-767.scss */
    .autor__specialisation {
      float: right;
      font-size: 1.2em;
      margin-right: 1%; }

  /* line 39, ../sass/mediaQueris_600-767.scss */
  .head__nav {
    width: 90%;
    margin: 20% auto 0 auto; }

  /* line 44, ../sass/mediaQueris_600-767.scss */
  .menu__link {
    height: 70px;
    font-size: 1.2em;
    border-radius: 10px;
    border-width: 1px; }

  /* line 52, ../sass/mediaQueris_600-767.scss */
  .popup {
    display: none; }

  /*HEAD*/
  /*KNOWLEDGE*/
  /* line 59, ../sass/mediaQueris_600-767.scss */
  .skill-wrap {
    height: 50%; }
  /* line 64, ../sass/mediaQueris_600-767.scss */
  .skill-hover__heading {
    font-size: 1.6em; }
  /* line 68, ../sass/mediaQueris_600-767.scss */
  .skill-hover__descript {
    width: 80%;
    font-size: 1.2em;
    letter-spacing: 0; }

  /* line 75, ../sass/mediaQueris_600-767.scss */
  .skill__icon {
    font-size: 7em; }

  /* line 79, ../sass/mediaQueris_600-767.scss */
  .l-tools {
    padding: 1% 0; }

  /* line 82, ../sass/mediaQueris_600-767.scss */
  .tools {
    width: 90%;
    top: 130%; }
    /* line 85, ../sass/mediaQueris_600-767.scss */
    .tools__heading {
      font-size: 1.6em; }
    /* line 89, ../sass/mediaQueris_600-767.scss */
    .tools__descript {
      margin: 0 4%;
      font-size: 1.2em; }

  /*KNOWLEDGE*/
  /*MY_WORK*/
  /* line 97, ../sass/mediaQueris_600-767.scss */
  .my-work {
    padding-bottom: 40px; }
    /* line 100, ../sass/mediaQueris_600-767.scss */
    .my-work__btn {
      bottom: -20px;
      font-size: 1.3em;
      padding: 2%;
      border-width: 2px; }

  /* line 108, ../sass/mediaQueris_600-767.scss */
  .work__item {
    width: 90%;
    height: 300px;
    margin: 0 auto 10px auto; }
    /* line 112, ../sass/mediaQueris_600-767.scss */
    .work__item:nth-child(n+4) {
      display: none; }

  /* line 117, ../sass/mediaQueris_600-767.scss */
  .icon-search {
    font-size: 4em; }

  /*MY_WORK*/
  /*ABOUT*/
  /* line 123, ../sass/mediaQueris_600-767.scss */
  .about {
    height: auto;
    padding-bottom: 30px; }

  /* line 127, ../sass/mediaQueris_600-767.scss */
  .about-descript {
    width: 90%;
    margin-top: 4%; }
    /* line 130, ../sass/mediaQueris_600-767.scss */
    .about-descript__text {
      font-size: 0.9em;
      letter-spacing: 1px; }

  /* line 135, ../sass/mediaQueris_600-767.scss */
  .rezume-block {
    margin-top: 50px;
    width: 100%; }

  /* line 139, ../sass/mediaQueris_600-767.scss */
  a.about-descript__link {
    margin-left: 5%; }

  /* line 142, ../sass/mediaQueris_600-767.scss */
  .icon-profile {
    font-size: 3em; }

  /*ABOUT*/
  /*FOOTER*/
  /* line 148, ../sass/mediaQueris_600-767.scss */
  .footer {
    display: block; }

  /* line 151, ../sass/mediaQueris_600-767.scss */
  .contact-icon {
    width: 100%;
    font-size: 2.3em;
    margin-top: 3%; }

  /* line 156, ../sass/mediaQueris_600-767.scss */
  .rights {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 1.5em; }

  /*FOOTER*/
  /* line 165, ../sass/mediaQueris_600-767.scss */
  .icon-arrow-up {
    font-size: 1em; } }
@media screen and (min-width: 320px) and (max-width: 599px) {
  /* line 2, ../sass/mediaQueris_320-500.scss */
  .container_small {
    width: 290px;
    margin: 0 auto; }

  /*HEAD*/
  /* line 8, ../sass/mediaQueris_320-500.scss */
  .head {
    height: 550px; }

  /* line 11, ../sass/mediaQueris_320-500.scss */
  .autor {
    width: 40%; }
    /* line 14, ../sass/mediaQueris_320-500.scss */
    .autor__photo {
      margin-left: 10px; }
    /* line 18, ../sass/mediaQueris_320-500.scss */
    .autor__name {
      font-size: 1em; }
    /* line 22, ../sass/mediaQueris_320-500.scss */
    .autor__specialisation {
      font-size: 0.8em; }

  /* line 27, ../sass/mediaQueris_320-500.scss */
  .menu {
    float: right; }
    /* line 29, ../sass/mediaQueris_320-500.scss */
    .menu__item {
      float: none;
      text-align: left;
      color: #000;
      margin-bottom: 5px;
      font-size: 0.8em; }
      /* line 35, ../sass/mediaQueris_320-500.scss */
      .menu__item:hover {
        border-bottom: none; }

  /* line 41, ../sass/mediaQueris_320-500.scss */
  .site-heading {
    margin-top: 40px;
    font-size: 2.5em; }

  /* line 45, ../sass/mediaQueris_320-500.scss */
  .site-descript {
    font-size: 0.9em; }

  /* line 48, ../sass/mediaQueris_320-500.scss */
  .head__button {
    left: 44%;
    margin-top: 20px; }

  /*HEAD*/
  /*KNOWLEGE*/
  /* line 58, ../sass/mediaQueris_320-500.scss */
  .skill__item {
    width: 47%;
    height: 300px;
    margin-right: 6%;
    margin-bottom: 30px; }
    /* line 64, ../sass/mediaQueris_320-500.scss */
    .skill__item:nth-child(2n) {
      margin-right: 0; }
  /* line 69, ../sass/mediaQueris_320-500.scss */
  .skill__heading {
    font-size: 1em; }
  /* line 73, ../sass/mediaQueris_320-500.scss */
  .skill__descript {
    font-size: 0.8em; }
  /* line 77, ../sass/mediaQueris_320-500.scss */
  .skill__icon {
    font-size: 7em; }

  /* line 81, ../sass/mediaQueris_320-500.scss */
  .tools {
    width: 100%; }
    /* line 84, ../sass/mediaQueris_320-500.scss */
    .tools__heading {
      font-size: 1.5em; }
    /* line 88, ../sass/mediaQueris_320-500.scss */
    .tools__descript {
      font-size: 1em; }

  /*KNOWLEGE*/
  /*MY-WORK*/
  /* line 100, ../sass/mediaQueris_320-500.scss */
  .work__item {
    display: inline-block;
    width: 290px;
    height: 170px;
    margin-left: 0; }
    /* line 106, ../sass/mediaQueris_320-500.scss */
    .work__item:nth-child(2n) {
      margin-right: 0; }
    /* line 110, ../sass/mediaQueris_320-500.scss */
    .work__item:nth-child(3n) {
      margin-right: 0; }
  /* line 116, ../sass/mediaQueris_320-500.scss */
  .work__img {
    width: 290px;
    height: 170px; }
  /* line 121, ../sass/mediaQueris_320-500.scss */
  .work__wrap {
    width: 290px;
    height: 170px; }

  /* line 127, ../sass/mediaQueris_320-500.scss */
  .icon-link {
    top: 27%;
    left: 38%; }

  /*MY-WORK*/
  /*ABOUT*/
  /* line 134, ../sass/mediaQueris_320-500.scss */
  .about-descript {
    width: 90%;
    font-size: 0.8em; }
    /* line 138, ../sass/mediaQueris_320-500.scss */
    .about-descript__photo {
      width: 150px;
      height: 150px;
      margin-right: 18%;
      margin-top: -20px;
      margin-bottom: 5px; }
    /* line 146, ../sass/mediaQueris_320-500.scss */
    .about-descript__heading {
      text-align: center;
      margin-left: 0;
      font-size: 1.2em; }
    /* line 152, ../sass/mediaQueris_320-500.scss */
    .about-descript__text {
      text-align: justify; }

  /*ABOUT*/
  /*FOOTER*/
  /* line 159, ../sass/mediaQueris_320-500.scss */
  .footer {
    height: 100px; }

  /* line 162, ../sass/mediaQueris_320-500.scss */
  .contact-icon {
    margin-left: 4%;
    width: 100%;
    margin-top: 40px;
    font-size: 1.4em;
    margin-bottom: 10px; }

  /* line 169, ../sass/mediaQueris_320-500.scss */
  .rights {
    float: none;
    text-align: center;
    width: 100%; }

  /*FOOTER*/
  /* line 177, ../sass/mediaQueris_320-500.scss */
  .button-top {
    display: none; } }
@media screen and (min-width: 412px) and (max-width: 414px) {
  /* line 187, ../sass/mediaQueris_320-500.scss */
  .work__item {
    margin-left: 12%; }

  /* line 194, ../sass/mediaQueris_320-500.scss */
  .about-descript__photo {
    margin-left: 1px;
    margin-right: 0px; } }
@media screen and (width: 480px) {
  /* line 203, ../sass/mediaQueris_320-500.scss */
  .head {
    height: 600px; }

  /* line 208, ../sass/mediaQueris_320-500.scss */
  .work__item {
    margin-left: 17%; }

  /* line 214, ../sass/mediaQueris_320-500.scss */
  .skill__item {
    margin-right: 5%; }

  /* line 220, ../sass/mediaQueris_320-500.scss */
  .about-descript__photo {
    margin-left: 5px;
    margin-right: 0px; } }
