html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

a:link {
  text-decoration: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fontsMontserrat-Medium.woff2") format("woff2"), url("../fontsMontserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Nord';
  src: url("../fonts/Nord.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto; }

.page-section {
  height: 100vh;
  width: 100%;
  position: relative; }

.section__heading-wrap {
  top: 50px; }

.section__heading {
  font-family: Montserrat-Medium, Arial, sans-serif;
  font-size: 5rem; }

.section__stick {
  width: 100%;
  height: 2px; }
  .section__stick_green {
    background-color: #23e512; }
  .section__stick_blue {
    background-color: #00c7ff; }
  .section__stick_white {
    background-color: #fff; }

.button {
  display: inline-block;
  width: 40%;
  height: 50px;
  line-height: 45px;
  border: 2px solid #0044b2;
  color: #fff;
  font-family: Montserrat-Medium, Arial, sans-serif;
  font-size: 1rem;
  transition: all 0.5s;
  letter-spacing: 1px; }
  .button:hover {
    border-radius: 50px;
    border-color: #23e512;
    color: #23e512; }

.section-block__heading {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font: 3rem Raleway-Regular, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  /*&:before {
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      content: " ";
    }*/ }

.indent {
  margin-left: 20px; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 600; }

.color_green {
  color: #23e512; }

.out {
  display: none; }

.preloader-wrap {
  margin: 21% auto;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#4096ee -50%, rgba(64, 150, 238, 0) 60%);
  animation: roll-r 6s linear infinite; }

.preloader {
  padding: 5px;
  animation: roll-l 2s linear infinite; }

.preloader:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff; }

@keyframes roll-r {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes roll-l {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

/*CONTENT*/
.head {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../img/head-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .head__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
    .head__content_center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
  .head__heading {
    color: #fff;
    font: 10rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 15px; }
    .head__heading_green {
      text-shadow: 0px 0px 25px #23e412;
      margin-left: -55px; }
  .head__subheading {
    color: #fff;
    font: 2rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 10%; }
  .head_color_green {
    text-shadow: 0px 0px 25px #23e412; }
  .head_color_blue {
    color: #0044b2;
    text-shadow: 0px 0px 25px #0044b2; }
  .head__button {
    box-shadow: 0px 0px 10px #0044b2; }
    .head__button:hover {
      box-shadow: 0px 0px 7px #23e512;
      text-shadow: 0px 0px 3px #23e412; }

.nav-wrap {
  width: 50%;
  margin: 0 auto;
  max-width: 1400px; }

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-list__link {
    position: relative;
    color: #fff;
    font: 1.3rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s; }
    .nav-list__link:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      height: 1px;
      width: 0%;
      background-color: #23e512;
      transition: all 0.3s;
      content: " "; }
    .nav-list__link:hover {
      color: #23e512;
      text-shadow: 0px 0px 7px #23e512; }
    .nav-list__link:hover:before {
      width: 98%; }
    .nav-list__link_active {
      color: #23e512;
      text-shadow: 0px 0px 7px #23e512; }
      .nav-list__link_active:before {
        width: 98%; }

.header {
  position: fixed;
  padding-top: 5px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  z-index: 99; }
  .header__logo {
    width: 100px;
    fill: #fff;
    stroke: #fff;
    transition: all 0.3s; }
    .header__logo:hover {
      stroke: #00c7ff;
      fill: #00c7ff; }

/*header_scroll*/
.header_scroll {
  background-color: rgba(0, 0, 0, 0.7); }

.logo__circle_scroll {
  opacity: 0; }

/*end__header_scroll*/
.head-slide-bottom {
  animation: head_slide_bottom 2s 2.5s 1 forwards;
  opacity: 0; }

.header-slide-top {
  animation: header_slide_top 2s 2.5s 1 forwards;
  opacity: 0; }

.head-fade {
  animation: fade 3s 1 forwards;
  opacity: 0; }

.b {
  animation-delay: 0.5s; }

.e {
  animation-delay: 0.6s; }

.a {
  animation-delay: 0.7s; }

.u_1 {
  animation-delay: 0.8s; }

.t_1 {
  animation-delay: 0.9s; }

.i_1 {
  animation-delay: 1s; }

.f {
  animation-delay: 1.1s; }

.u_2 {
  animation-delay: 1.2s; }

.l {
  animation-delay: 1.3s;
  margin-right: 5%; }

.t_2 {
  animation-delay: 1.4s; }

.h {
  animation-delay: 1.5s; }

.i_2 {
  animation-delay: 1.6s; }

.n {
  animation-delay: 1.7s; }

.g {
  animation-delay: 1.8s; }

.s {
  animation-delay: 1.9s; }

body {
  transition: all 0.5s; }

.skill {
  background: url(../img/head-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .skill__heading-wrap {
    width: 40%;
    position: absolute;
    left: 5%;
    text-align: center;
    color: #23e512;
    text-shadow: 0px 0px 25px #23e512; }
    .skill__heading-wrap:before {
      background-color: #23e512; }
  .skill__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }

.skill-info_main {
  position: absolute;
  top: 100px;
  right: 2%;
  width: 40%; }

.skill-info_additional {
  position: absolute;
  bottom: 150px;
  left: 2%;
  width: 40%; }

.skill-info__heading {
  font-size: 2.2rem;
  margin-bottom: 50px; }

.skill-info__text {
  color: #fff;
  margin-bottom: 50px;
  font: 1.8rem Montserrat-Light, Arial, sans-serif; }
  .skill-info__text_big {
    font: 2.2rem Montserrat-Medium, Arial, sans-serif;
    color: orange; }

.skill-info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .skill-info-list_main {
    margin-bottom: 15%; }
  .skill-info-list__item {
    width: 27%; }
    .skill-info-list__item:nth-child(4) {
      margin-left: 15%; }
    .skill-info-list__item:nth-child(5) {
      margin-right: 15%; }
  .skill-info-list__icon {
    max-width: 100%;
    height: 120px; }

.work {
  background-color: #fff;
  overflow: hidden;
  background: url(../../img/works-bg.jpg) center center no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/ }
  .work__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #333333; }
  .work__heading-wrap {
    width: 30%;
    position: absolute;
    top: 30px;
    right: 5%;
    text-align: center;
    color: #00c7ff;
    text-shadow: 0px 0px 25px #00c7ff; }
    .work__heading-wrap:before {
      background-color: #00c7ff; }
  .work__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1.3rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    border: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden; }
    .work__btn-wrap {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 20%;
      height: 75px; }
    .work__btn:before {
      position: absolute;
      top: -110%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: " ";
      background-color: #fff;
      transition: all 0.5s; }
    .work__btn:hover {
      color: #000; }
    .work__btn:hover:before {
      top: 0; }

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px; }
  .work-list-wrap {
    width: 85%;
    margin: 10% auto 0 auto; }
  .work-list__item {
    position: relative;
    width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s; }
    .work-list__item:hover .work-list-content {
      left: 0; }
    .work-list__item:hover .work-list__image {
      transform: scale(2); }
  .work-list__image {
    width: 100%;
    transform: scale(1.05);
    transition: opacity 3s 2.5s, transform 7s; }
  .work-list-content {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: left 0.7s, opacity 3s 2.5s; }
    .work-list-content_black:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      height: 90%;
      content: " ";
      border: 2px solid #000;
      z-index: 1; }
    .work-list-content_white:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92%;
      height: 90%;
      content: " ";
      border: 2px solid #fff;
      z-index: 1; }
  .work-list__heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font: 1.2rem Montserrat-Medium, Arial, sans-serif; }
    .work-list__heading_black {
      color: #000; }
    .work-list__heading_white {
      color: #fff; }
    .work-list__heading_small {
      font-size: 1.3rem;
      top: 10%; }
  .work-list__descript {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    font: 0.8rem Raleway-Medium, Arial, sans-serif; }
    .work-list__descript_black {
      color: #000; }
    .work-list__descript_white {
      color: #fff; }
    .work-list__descript_small {
      font-size: 1rem; }
    .work-list__descript a {
      z-index: 10; }
  .work-list__link {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.8rem Raleway-Medium, Arial, sans-serif;
    transition: all 0.5s;
    overflow: hidden;
    letter-spacing: 1px;
    z-index: 2; }
    .work-list__link_small {
      height: 25px; }

a.work-list__link_white {
  color: #fff;
  border: 1px solid #fff; }
  a.work-list__link_white:hover {
    color: #000;
    border: 1px solid #000;
    background-color: #fff; }

a.work-list__link_black {
  color: #000;
  border: 1px solid #000; }
  a.work-list__link_black:before {
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: " ";
    background-color: #000;
    transition: all 0.5s; }
  a.work-list__link_black:hover {
    color: #fff; }
  a.work-list__link_black:hover:before {
    top: 0; }

.about {
  background: url(../img/photo.jpg) center -200px no-repeat;
  background-size: cover;
  overflow: hidden; }
  .about__heading-wrap {
    width: 17%;
    position: absolute;
    right: 5%;
    text-align: center;
    color: #00c7ff;
    text-shadow: 0px 0px 25px #00c7ff; }
    .about__heading-wrap:before {
      background-color: #00c7ff; }

.about-descript {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  box-sizing: border-box; }
  .about-descript-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5%;
    width: 37%;
    padding: 15px;
    /*border: 2px solid #000;*/
    box-sizing: border-box; }
  .about-descript__text {
    color: #fff;
    font: 1.2rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify; }

.rezume__link {
  position: absolute;
  bottom: 120px;
  right: 7%;
  color: #23e512;
  display: flex;
  align-items: center;
  font: 1.2rem Montserrat-Light, Arial, sans-serif; }

.rezume__icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  fill: #23e512; }

.contact {
  background: url(../img/collaboration.jpg) center center no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/ }
  .contact__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .contact__heading-wrap {
    width: 25%;
    position: absolute;
    left: 5%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 25px #fff; }
    .contact__heading-wrap:before {
      background-color: #fff; }
  .contact .border-draw_white-in:before {
    z-index: -1; }
  .contact .border-draw_white-in:after {
    z-index: -1; }

.contact-form {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .contact-form-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    box-sizing: border-box;
    padding: 15px; }
  .contact-form__heading {
    font-size: 2rem;
    margin-bottom: 50px; }
  .contact-form-input, .contact-form-textarea {
    height: 40px;
    width: 90%;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box; }
  .contact-form-textarea {
    height: 100px;
    padding-top: 7px;
    padding-left: 15px; }
  .contact-form__icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    fill: #fff;
    stroke: #000; }
  .contact-form__input {
    flex-grow: 2;
    height: 90%;
    border: none;
    font: 1rem Montserrat-Light, Arial, sans-serif;
    letter-spacing: 1px;
    color: #000;
    padding: 0 15px; }
  .contact-form__textarea {
    outline: none;
    color: #000; }
  .contact-form__button {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer; }
    .contact-form__button-wrap {
      width: 50%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 50px; }
    .contact-form__button:before {
      position: absolute;
      top: -110%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      content: " ";
      background-color: #fff;
      transition: all 0.3s; }
    .contact-form__button:hover {
      color: #000; }
    .contact-form__button:hover:before {
      top: 0; }

.contact-social {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%; }

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .contact-list__item {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    cursor: pointer; }
    .contact-list__item:last-child {
      margin-right: 0; }
  .contact-list__icon {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: all 0.5s; }
    .contact-list__icon_1:hover {
      fill: #ff0000; }
    .contact-list__icon_2:hover {
      fill: #00c7ff; }
    .contact-list__icon_3:hover {
      fill: #4a4a4c; }
    .contact-list__icon_4:hover {
      fill: #0060ba; }
    .contact-list__icon_5:hover {
      fill: #103787; }

.success {
  display: none;
  opacity: 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  color: #23e512;
  text-align: center;
  font: 1.3rem Montserrat-Light, Arial, sans-serif;
  background-color: #000;
  animation: success 2s 0.5s;
  text-shadow: 0 0 10px #23e512; }

.success-in {
  display: block; }

.error {
  display: none;
  opacity: 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  color: #ff0c0c;
  text-align: center;
  font: 1.3rem Montserrat-Light, Arial, sans-serif;
  background-color: #000;
  animation: success 1s;
  text-shadow: 0 0 10px #ff0c0c; }

.error-in {
  display: block; }

@keyframes success {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.work-page {
  overflow: auto; }

.work-page__container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #333333; }

.works-page__button {
  height: 100%; }

.footer {
  max-height: 100px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__logo {
    height: 75px;
    /*width: 20%;*/
    fill: #fff;
    stroke: #fff;
    transition: all 0.2s; }
    .footer__logo:hover {
      stroke: #00c7ff;
      fill: #00c7ff; }

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 100;
  color: #fff; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.popup__line {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.3rem;
  font-family: Arial; }
  .popup__line:last-child {
    margin-bottom: 0; }
  .popup__line_1 {
    animation: typewriter_1 2s steps(44) 4.1s 1 normal both, blinkTextCursor 500ms 12 4s normal both; }
  .popup__line_2 {
    margin-left: 5%;
    animation: typewriter_1 2s steps(44) 9.2s 1 normal both, blinkTextCursor 500ms 5 9s normal both; }
  .popup__line_3 {
    margin-left: 5%;
    animation: typewriter_3 2s steps(44) 13.2s 1 normal both, blinkTextCursor 500ms 9 13s normal both; }
  .popup__line_4 {
    animation: typewriter_4 0.3s steps(44) 17.2s 1 normal both, blinkTextCursor 100ms 5 17s normal both; }
  .popup__line_5 {
    animation: typewriter_5 1s steps(50) 0.7s 1 normal both, blinkTextCursor 500ms 7 normal both; }

@keyframes typewriter_1 {
  from {
    width: 0; }
  to {
    width: 31rem; } }

@keyframes typewriter_2 {
  from {
    width: 0; }
  to {
    width: 10rem; } }

@keyframes typewriter_3 {
  from {
    width: 0; }
  to {
    width: 29.5rem; } }

@keyframes typewriter_4 {
  from {
    width: 0; }
  to {
    width: 3rem; } }

@keyframes typewriter_5 {
  from {
    width: 0; }
  to {
    width: 10rem; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: transparent; }
  0.5% {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }

/*CONTENT*/
@keyframes head_slide_left {
  from {
    transform: translateX(-50%);
    opscity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_right {
  from {
    transform: translateX(50%);
    opscity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_top {
  from {
    transform: translateY(-50%);
    opscity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes fade {
  from {
    opscity: 0; }
  to {
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes head_slide_bottom {
  from {
    opscity: 0;
    transform: translateY(50%); }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
@keyframes header_slide_top {
  from {
    opscity: 0;
    transform: translateY(-50%); }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*//////////////////////////////////////*/
/*ANIMATION_ON_SCROLL*/
.fade {
  opacity: 0; }

.fade-in {
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-right {
  transform: translateX(50%);
  opacity: 0; }

.slide-right-in {
  transform: translateX(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-left {
  transform: translateX(-20%);
  opacity: 0; }

.slide-left-in {
  transform: translateX(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-top {
  transform: translateY(-100%);
  opacity: 0; }

.slide-top-in {
  transform: translateY(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.slide-bottom {
  transform: translateY(20%);
  opacity: 0; }

.slide-bottom-in {
  transform: translateY(0);
  opacity: 1; }

/*////////////////////////////////////////////////*/
.height {
  height: 0;
  opacity: 0; }

.height-in {
  opacity: 1;
  height: 100%; }

/*////////////////////////////////////////////////*/
.border-draw_black:before, .border-draw_black:after {
  width: 0%;
  height: 0%;
  position: absolute;
  content: " ";
  z-index: 1;
  box-sizing: border-box; }

.border-draw_black:after {
  right: 0;
  top: 0;
  transition: height 0.5s linear 0.5s, width 0.5s linear 1s; }

.border-draw_black:before {
  bottom: 0;
  left: 0;
  transition: height 0.5s linear 1.5s, width 0.5s linear 2s; }

.border-draw_black-in:before {
  border-left: 3px solid #000;
  border-top: 3px solid #000;
  height: 100%;
  width: 100%; }

.border-draw_black-in:after {
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  width: 100%;
  height: 100%; }

.border-draw_white:before, .border-draw_white:after {
  width: 0%;
  height: 0%;
  position: absolute;
  content: " ";
  z-index: 1;
  box-sizing: border-box; }

.border-draw_white:after {
  right: 0;
  top: 0;
  opacity: 0;
  transition: height 0.5s linear 0.5s, width 0.5s linear 1s, opacity 0s linear; }

.border-draw_white:before {
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: height 0.5s linear 1.5s, width 0.5s linear 2s, opacity 0s linear; }

.border-draw_white-in:before {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  height: 100%;
  width: 100%;
  opacity: 1; }

.border-draw_white-in:after {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  width: 100%;
  height: 100%;
  opacity: 1; }

/*////////////////////////////////////////////////*/
/*END__ANIMATION_ON_SCROLL*/
/*TRANSITION*/
/*about*/
.about__heading-wrap {
  transition: all 1.3s; }

.about__heading {
  transition: all 1s 1s; }

.about-descript {
  transition: all 3s 2s; }

.about-descript__text_1 {
  transition: all 2.5s 2.5s; }

.about-descript__text_2 {
  transition: all 2.5s 2.8s; }

.about-descript__text_3 {
  transition: all 2.5s 3.1s; }

.about-descript__text_4 {
  transition: all 2.5s 3.4s; }

.rezume__link {
  transition: all 1.3s; }

/*end__about*/
/*skill*/
.skill__heading-wrap {
  transition: all 1.3s; }

.skill__heading {
  transition: all 1s 1s; }

.skill-info_main {
  transition: all 1.3s; }

.skill-info_additional {
  transition: all 1.3s; }

.skill-info-list__item_1 {
  transition: all 1.3s 1.5s; }

.skill-info-list__item_2 {
  transition: all 1.3s 1.7s; }

.skill-info-list__item_3 {
  transition: all 1.3s 1.9s; }

.skill-info-list__item_4 {
  transition: all 1.3s 2.1s; }

.skill-info-list__item_5 {
  transition: all 1.3s 2.3s; }

.skill-info-list__item_6 {
  transition: all 1.3s 2.5s; }

.skill-info-list__item_7 {
  transition: all 1.3s 2.7s; }

.skill-info-list__item_8 {
  transition: all 1.3s 2.9s; }

.skill-info__text {
  transition: all 1.3s 3s; }

/*end__skill*/
/*work*/
.work__heading-wrap {
  transition: all 1.3s; }

.work__heading {
  transition: all 1s 1s; }

.work__btn {
  transition: height 0.8s 2.5s, opacity 0.3s 2.5s; }

/*end__work*/
/*contact*/
.contact__heading-wrap {
  transition: all 1.3s; }

.contact__heading {
  transition: all 1s 1s; }

.contact-form {
  transition: all 3s 2s; }

.contact-form-input_1 {
  transition: all 2.5s 2.5s; }

.contact-form-input_2 {
  transition: all 2.5s 2.8s; }

.contact-form-textarea {
  transition: all 2.5s 3.1s; }

.contact-form__button {
  transition: height 0.8s 2.5s, opacity 0.3s 2.5s; }

.contact-list__item_1 {
  transition: opacity 2.5s 2.5s; }

.contact-list__item_2 {
  transition: opacity 2.5s 2.8s; }

.contact-list__item_3 {
  transition: opacity 2.5s 3.1s; }

.contact-list__item_4 {
  transition: opacity 2.5s 3.4s; }

/*end__contact*/
/*END__TRANSITION*/
@media screen and (max-width: 1700px) {
  .about-descript-wrap {
    width: 45%; }
  .about-descript__text {
    font-size: 1rem;
    margin-bottom: 10px; } }

@media screen and (max-width: 1490px) {
  .about {
    background-position: center center; } }

@media screen and (max-width: 1400px) {
  .nav-list__link {
    font-size: 1rem; }
  .head__button {
    width: 55%; }
  .head__subheading {
    font-size: 1.5rem; }
  .section-block__heading {
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .section__heading {
    font-size: 3.5rem;
    top: 20px; }
  .section__heading-wrap {
    top: 20px; }
  .about__heading-wrap {
    width: 15%; }
  .skill__heading-wrap {
    width: 33%; }
  .contact__heading-wrap {
    width: 20%; }
  .about-descript-wrap {
    width: 45%; }
  .about-descript {
    padding: 15px 15px; }
  .about-descript__text {
    font-size: 1rem;
    margin-bottom: 10px; }
  .rezume__link {
    bottom: 50px; }
  .skill-info_main {
    top: 70px;
    right: 7%; }
  .skill-info__heading {
    font-size: 1.5rem;
    margin-bottom: 20px; }
  .skill-info-wrap {
    width: 30%; }
  .skill-info-list {
    margin-bottom: 40px;
    justify-content: space-around; }
  .skill-info-list__item {
    width: 30%;
    margin-right: 1%;
    margin-bottom: 20px; }
    .skill-info-list__item:nth-child(4) {
      margin-left: 0; }
    .skill-info-list__item:nth-child(5) {
      margin-right: 0; }
  .skill-info-list__icon {
    height: 80px; }
  .skill-info_additional {
    bottom: 70px; }
  .skill-info__text {
    font-size: 1.2rem; }
    .skill-info__text_big {
      font-size: 1.5rem; }
  .work-list {
    margin-bottom: 15px; }
  .work-list__link {
    height: 20px;
    width: 100px;
    font-size: 0.7rem; }
  .work__btn-wrap {
    height: 40px; }
  .work__btn {
    font-size: 0.9rem; }
  .contact-form-wrap {
    width: 27%; }
  .contact-form {
    padding: 15px 0; }
  .contact-form__heading {
    font-size: 1.5rem; }
  .contact-form-input, .contact-form-textarea {
    margin-bottom: 15px; }
  .contact-form-input {
    height: 30px; }
  .contact-form__button-wrap {
    height: 30px; }
  .contact-social {
    bottom: 5%; }
  .contact-list__item {
    width: 30px;
    height: 30px; } }

@media screen and (max-width: 1260px) {
  .head__heading {
    font-size: 7rem; }
  .head__subheading {
    font-size: 1.4rem; }
  .contact-form-wrap {
    width: 30%; }
  .nav-wrap {
    width: 75%; }
  .skill__heading-wrap {
    width: 40%; }
  .work__btn-wrap {
    width: 30%; }
  .contact-form__input {
    font-size: 0.85rem; } }

@media screen and (max-width: 1037px) {
  .about-descript-wrap {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; }
  .about__heading-wrap {
    right: 3%; }
  .rezume__link {
    left: 1%; } }

@media screen and (max-width: 1037px) {
  .about-descript-wrap {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; }
  .about__heading-wrap {
    right: 3%; }
  .rezume__link {
    left: 1%; }
  .section__heading {
    font-size: 2.7rem; }
  .section-block__heading {
    font-size: 2rem; }
  .about-descript__text {
    font-size: 0.9rem; }
  .skill-info__heading {
    font-size: 1.3rem; }
  .skill-info_additional {
    top: 100px;
    width: 45%;
    left: 1%; }
  .skill-info_main {
    top: 100px;
    right: 1%;
    width: 45%; }
  .skill-info-list__item {
    width: 20%;
    margin-right: 10%;
    margin-bottom: 10px; } }

@media screen and (max-width: 965px) {
  .contact-form-wrap {
    width: 45%; }
  .contact-form__heading {
    font-size: 1.3rem; } }

@media screen and (max-width: 900px) {
  .head__content_center {
    width: 100%; }
  .page-section {
    height: auto;
    overflow: hidden; }
  .rezume__link {
    width: auto; }
  .skill__container {
    position: relative; }
  .skill__heading-wrap {
    left: 0; }
  .skill-info__heading {
    font-size: 1.5rem; }
  .skill-info {
    width: 100%; }
    .skill-info-wrap {
      width: 100%; }
    .skill-info_main {
      position: relative;
      right: 0;
      top: 100px; }
    .skill-info_additional {
      position: relative;
      left: 0;
      top: 100px; }
  .skill-info-list__item {
    margin-right: 2%; }
    .skill-info-list__item:nth-child(4n) {
      margin-right: 0; }
  .skill-info__text {
    padding: 0 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem; }
  .skill-info-list {
    margin-bottom: 15px; }
  .work-list__item {
    width: 48%; }
  .work__container {
    height: auto;
    padding-bottom: 20px; }
  .work__btn-wrap {
    width: 60%; }
  .contact__container {
    position: relative;
    height: auto;
    padding-bottom: 20px; }
  .contact__heading-wrap {
    left: 0; }
  .contact-form-wrap {
    position: relative;
    width: 40%;
    top: 220px;
    margin-bottom: 50px; }
  .contact-social {
    position: relative;
    width: 95%; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo-wrap {
    display: none; }
  .nav-wrap {
    width: 100%;
    padding: 20px 5px;
    box-sizing: border-box; }
  .nav-list__link {
    font-size: 0.85rem; }
  .head__heading {
    font-size: 5em;
    letter-spacing: 5px; }
  .head__heading_green {
    margin-left: -25px; }
  .head__content_center {
    width: 100%; }
  .head__button {
    width: 70%;
    font-size: 0.9rem; }
  .head__subheading {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30%; }
  .page-section {
    height: auto;
    overflow: hidden; }
  .section__heading-wrap {
    position: relative;
    width: 100%;
    text-align: center;
    top: 10px; }
  .about {
    height: 950px;
    max-height: 950px; }
  .about__heading-wrap {
    left: 0; }
  .about-descript-wrap {
    position: relative;
    width: 95%;
    top: 420px;
    padding: 7px; }
  .about-descript {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px; }
  .rezume__link {
    width: 60%;
    left: 50%;
    transform: translate(-50%); }
  .skill__container {
    position: relative; }
  .skill__heading-wrap {
    left: 0; }
  .skill-info__heading {
    font-size: 1.1rem; }
  .skill-info {
    width: 100%; }
    .skill-info-wrap {
      width: 100%; }
    .skill-info_main {
      position: relative;
      right: 0;
      top: 40px; }
    .skill-info_additional {
      position: relative;
      left: 0;
      top: 20px; }
  .skill-info-list__item {
    margin-right: 5%; }
    .skill-info-list__item:nth-child(4n) {
      margin-right: 0; }
  .skill-info__text {
    padding: 0 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.9rem; }
  .skill-info-list {
    margin-bottom: 15px; }
  .work__heading-wrap {
    left: 0; }
  .work-list__item {
    width: 100%; }
    .work-list__item:nth-child(4n), .work-list__item:nth-child(5n), .work-list__item:nth-child(6n) {
      display: none; }
  .work__container {
    height: auto;
    padding-bottom: 20px; }
  .work__btn-wrap {
    width: 80%; }
  .contact__container {
    position: relative;
    height: auto;
    padding-bottom: 20px; }
  .contact__heading-wrap {
    left: 0; }
  .contact-form-wrap {
    position: relative;
    width: 95%;
    top: 220px;
    margin-bottom: 50px; }
  .contact-social {
    position: relative;
    width: 95%; } }

@media screen and (min-width: 320px) and (max-width: 767px) and (min-width: 550px) {
  .contact-form-wrap {
    width: 60%; }
  .head__heading {
    font-size: 7em; }
  .head__subheading {
    font-size: 1.5em; }
  .nav-list__link {
    font-size: 1.3rem; }
  .rezume__link {
    width: auto; } }

@media screen and (min-height: 300px) and (max-height: 480px) {
  .head__content_center {
    top: 70% !important; }
  .head__button {
    display: none; }
  .about {
    height: 850px; }
  .skill {
    height: 600px; } }
