@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /*HEAD*/
  /* line 3, ../sass/mediaQueris_1024-1280.scss */
  .autor {
    width: 30%; }
    /* line 6, ../sass/mediaQueris_1024-1280.scss */
    .autor__name {
      font-size: 1.3em; }
    /* line 10, ../sass/mediaQueris_1024-1280.scss */
    .autor__specialisation {
      font-size: 0.9em; }

  /* line 15, ../sass/mediaQueris_1024-1280.scss */
  .menu__item {
    font-size: 0.9em; }

  /* line 19, ../sass/mediaQueris_1024-1280.scss */
  .site-descript {
    font-size: 1.1em; }

  /*HEAD*/
  /*KNOWLEGE*/
  /* line 27, ../sass/mediaQueris_1024-1280.scss */
  .skill__item {
    height: 300px; }
  /* line 31, ../sass/mediaQueris_1024-1280.scss */
  .skill__heading {
    font-size: 1.3em; }
  /* line 35, ../sass/mediaQueris_1024-1280.scss */
  .skill__descript {
    font-size: 0.9em; }
  /* line 39, ../sass/mediaQueris_1024-1280.scss */
  .skill__icon {
    font-size: 8em; }

  /* line 43, ../sass/mediaQueris_1024-1280.scss */
  .tools {
    width: 70%; }

  /*KNOWLEGE*/
  /*MY-WORK*/
  /* line 52, ../sass/mediaQueris_1024-1280.scss */
  .work__item {
    width: 320px;
    height: 170px;
    margin-right: 3%; }
  /* line 58, ../sass/mediaQueris_1024-1280.scss */
  .work__img {
    width: 320px;
    height: 170px; }
  /* line 63, ../sass/mediaQueris_1024-1280.scss */
  .work__wrap {
    width: 320px;
    height: 170px; }

  /* line 68, ../sass/mediaQueris_1024-1280.scss */
  .icon-link {
    top: 26%;
    left: 40%; }

  /*MY-WORK*/
  /*ABOUT*/
  /* line 75, ../sass/mediaQueris_1024-1280.scss */
  .about-descript {
    width: 90%; }
    /* line 78, ../sass/mediaQueris_1024-1280.scss */
    .about-descript__photo {
      width: 230px;
      height: 230px;
      margin-right: -15%; }

  /*ABOUT*/ }
