
@import "variable";
@import "reset";
@import "font";


.container {
  position: relative;
  max-width: 1400px;
  width: 1400px;
  margin: 0 auto;
}

.color_red {
	color: $red;
}
.color_blue {
	color: #028FBD;
}
.color_yellow {
	color: #FFDA22;
}
.color_violet {
	color: #BA39E6;
}
.color_green {
	color: #1BB367;
}


@import "section.head/head.scss";
@import "section.news/news.scss";
@import "section.footer/footer.scss";
@import "sidebar/sidebar.scss";


@media screen and (min-width: 1399px) {
	.container {
		margin: 0 auto;
		width: 1400px;
	}
}
