@media screen and (min-width: 1200px) and (max-width: 1345px) {
	.main-content-container {
		margin-left: 40/1400*100%;
		width: 800px;
	}

	.main-content-news {
		&__heading {
			font-size: 0.9em;
		}
	}

	.photo-report {
		&-block__item_wide {
			width: 100%;
			height: 110px;
		}
		&-block__item_tall {
			width: 140px;
			height: 240px;
		}
		&-block__item_squre {
			width: 140px;
			height: 110px;
		}

		&-block-1 {
			width: 300px;
			margin-right: 25px;
		}

		&-block-2 {
			width: 130px;
		}

		&-block-3 {
			width: 310px;
		}
	}

}