<div class="chat-wrapper">
  <div class="chat-reg">
    <button
        mat-button
        mat-flat-button
        color="primary"
        (click)="selectRegistrationType(registrationTypes.SignIn)"
        class="chat-reg-btn">
      Sign In
    </button>
    <p class="chat-reg-text">or</p>
    <button
        mat-button
        mat-flat-button
        color="accent"
        (click)="selectRegistrationType(registrationTypes.Login)"
        class="chat-reg-btn">
      Login
    </button>
  </div>

  <ng-container *ngIf="registrationType$ | async as type">
    <ng-container *ngIf="type === 'sign-in'; else login">
      <app-login [type]="registrationTypes.SignIn"
                 [btnText]="'Sign in'">
      </app-login>
    </ng-container>

    <ng-template #login>
      <app-login [type]="registrationTypes.Login"
                 [btnText]="'Log In'">
      </app-login>
    </ng-template>
  </ng-container>
</div>
