
.knowledge {
	background-color: #fff;
	/*background: url(../../img/skill-bg.png) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
	height: 100vh;
	display: flex;
	box-sizing: border-box;

	&-descript {
		width: 55%;
		height: auto;
		position: relative;
		/*margin-top: 3%;*/
		padding: 0 5%;
		transition: all 1s 0.5s;
		overflow: hidden;

		&__text {
			color: $main-text-color;
			margin-bottom: 15px;
			font: 1.5em "Times New Roman", serif;
			line-height: 1.3;
			text-align: justify;
		}
	}
}

.text_1 {
	transition: all 1.2s 1s;
}
.text_2 {
	transition: all 1.2s 1.25s;
}
.text_3 {
	transition: all 1.2s 1.5s;
}
.text_4 {
	transition: all 1.2s 1.75s;
}
.text_5 {
	transition: all 1.2s 2s;
}
.text_6 {
	transition: all 1.2s 2.25s;
}
.text_7 {
	transition: all 1.2s 2.5s;
}

.knowledge-icons {
	&-wrap {
		/*display: none;*/
		width: 45%;
		height: 100%;
		position: relative;
		background: #000;
		transition: all 1s 0.5s;
	}

	&-list {
		position: relative;
		display: flex;
		padding: 70px 0;
		height: 100%;
		align-items: stretch;
		justify-content: space-around;
		flex-wrap: wrap;
		transition: all 3s 1s;


		&__item {
			position: relative;
			width: 30%;
			min-height: 50px;
		}

		&__icon {
			width: 100%;
			&_1 {
				animation: icon_move 4s 1 forwards;
				animation-delay: 2s;				
			}
		} 
	}
}

.tools {
	position: relative;
	width: 100%;
	margin-top: 20px;

	&__descript {
		text-align: justify;
		color: $main-text-color;
		font: 1.5em "Times New Roman", serif;
		line-height: 1.2;
	}
}
a.tools__link {
	color: #02f90e;
	text-decoration: underline;
	&:hover {
		color: green;
	}
}

.text-color {
	font: 1.3em Roboto-Black, Arial, sans-serif;
	color: #000;

	&_blue {
		color: #1034d3;
	}

	&_yellow {
		color: #dce800;
	}

	&_green {
		color: #00aa00;
	}

	&_pink {
	  color: #C6538C;
	}

	&_purpure {
		color: #E84C50;
	}

	&_orange {
		color: #ffaa00;
	}

	&_violet {
	  	color: #8e00cc;
	}

	&_red {
		color: red;
	}

	&_gray {
		color: #9e9e9e;
	}

	&_white {
	  	color: #fff;
	}
}
