.works-page-container {
	width: 90%;	
	margin: 0 auto;
	max-width: 1400px;		
	min-height: calc(100vh - 180px);
}


.works-page-list {
	margin-bottom: 20px;
	width: 100%;	
	justify-content: space-between;

	&__item {
		width: 32%;	
		margin-bottom: 20px;
		height: 210px;		
	}
}
