@import '../../../../assets/style/colors';
@import '../../../../assets/style/breakpoints/breakpoints';
@import '~@angular/material/theming';

.works {
  min-height: 100vh;
  overflow: hidden;
  padding: 100px 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 50px 0 80px;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000000;
    content: "";
    z-index: -1;

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 50%;
    }
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    text-align: right;
    margin-bottom: 70px;
    line-height: 1.4;
    color: $white;

    @include media-breakpoint-down(md) {
      max-width: 50%;
      margin: 0 0 70px auto;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
      max-width: 100%;
      margin: 0 0 70px;
    }
  }

  &-list {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down(md) {
      max-width: 700px;
      justify-content: space-between;
      margin: 0 auto 60px;
    }

    @include media-breakpoint-down(xs) {
      max-width: 350px;
    }

    &__item {
      width: 30%;
      overflow: hidden;
      margin-bottom: 30px;
      margin-right: 5%;
      position: relative;
      @include mat-elevation(2);

      &:nth-child(3n), &:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-down(md) {
        width: 47%;
        margin-right: 0;

        &:nth-last-child {
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
      }

      &:hover {
        .works-list__description {
          opacity: 1;
          transform: scale(1);
        }

        .works-list__image {
          transform: scale(2);
        }
      }
    }

    &__image {
      transition: all 0.5s;
      display: block;
    }

    &__description {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 101%;
      height: 101%;
      background-color: $white;
      opacity: 0;
      padding: 14px 30px;
      transform: scale(2);
      transition: all 0.5s;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.2);
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      text-transform: capitalize;
      line-height: 1;
      margin-bottom: 20px;
    }

    &__text {
      width: 100%;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__btn {
      padding: 6px 14px 8px;
      text-align: center;
      font-size: 14px;
      background-color: $black;
      color: $white;
      border: 1px solid $black;
      border-radius: 20px;
      transition: all 0.2s;

      &:hover, &:active, &:focus {
        background-color: transparent;
        color: $black;
      }
    }
  }

  &-social {
    display: flex;
    align-items: center;

    @media screen and (max-width: 850px){
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-size: 22px;
      margin-right: 20px;

      @media screen and (max-width: 850px){
        font-size: 26px;
        margin: 0 0 30px;
      }
    }
  }
}
