@import '../../../../assets/style/colors';
@import '../../../../assets/style/breakpoints/breakpoints';

.footer {
  padding: 24px 0;
  border-top: 1px solid $black;

  &__text {
    text-align: center;
  }
}
