
@keyframes head_slide_left {
	from {
		transform: translateX(-50%); 
		opscity: 0;
	}

	to {
		transform: translateX(0); 
		opacity: 1;
	}
}
/*//////////////////////////////////////*/
@keyframes head_slide_right {
	from {
		transform: translateX(50%); 
		opscity: 0;
	}

	to {
		transform: translateX(0); 
		opacity: 1;
	}
}
/*//////////////////////////////////////*/
@keyframes head_slide_top {
	from {
		transform: translateY(-50%); 
		opscity: 0;
	}

	to {
		transform: translateY(0); 
		opacity: 1;
	}
}
/*//////////////////////////////////////*/
@keyframes fade {
	from { 
		opscity: 0;
	}

	to {
		opacity: 1;
	}
}
/*//////////////////////////////////////*/
@keyframes head_slide_bottom {
	from { 
		opscity: 0;
		transform: translateY(50%); 
	}

	to {
		transform: translateY(0); 
		opacity: 1;
	}
}
/*//////////////////////////////////////*/
@keyframes header_slide_top {
	from { 
		opscity: 0;
		transform: translateY(-50%); 
	}

	to {
		transform: translateY(0); 
		opacity: 1;
	}
}
/*//////////////////////////////////////*/














/*//////////////////////////////////////*/
@keyframes dash {
	from {
		stroke-dashoffset: 40;
		stroke-width: 0.2;
	}

	to {
		stroke-dashoffset: 0;
		stroke-width: 0.2;
	}
}
/*//////////////////////////////////////////*/
@keyframes jump {
	from {
		top: 0;
	}

	30% {
		top: -20px;
	}

	to {
		top: 0px;
	}
}
/*//////////////////////////////////////////*/
@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
/*//////////////////////////////////////////*/
@keyframes menu-hide{
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}
/*//////////////////////////////////////////*/
@keyframes menu-show{
	from {
		top: -100%;
		opacity: 0.3;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
/*//////////////////////////////////////////*/
@keyframes icon_move {
    from {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(-30deg);
	}
	40% {
		transform: rotate(40deg);
	}
	60% {
		transform: rotate(-45deg);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
	}
	80% {
		opacity: 0;	

	}
	95% {
		top: 700px;
		opacity: 0;	
	}
	100% {
		top: 700px;
		opacity: 0;	
	}
}
