
.container {
  position: relative;
  width: 90%;
  // width: 2360px;
  margin: 0 auto;
}

.show {
  display: block;
}

body {
  position: relative;
}

.section-heading {
  position: relative;
  text-align: center;
  color: #000;
  font: 3.5em Montserrat-Medium, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 40px 0 40px 0;

  &:before {
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
    content: "";
    width: 10%;
    height: 2px;
    background-color: #000;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    content: "";
    width: 10%;
    height: 2px;
    background-color: #000;
  }
}

.indent {
  margin-left: 5%
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 600;
}
