
.container {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.page-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section__heading-wrap {
  top: 50px;
}

.section__heading {
  font-family: Montserrat-Medium, Arial, sans-serif;
  font-size: 5rem;
}

.section__stick {
  width: 100%;
  height: 2px;

  &_green {
    background-color: $green;
  }
  &_blue {
    background-color: $light-blue;
  }
  &_white {
    background-color: #fff;
  }
}

.button {
    display: inline-block;
    width: 40%;
    height: 50px;
    line-height: 45px;
    border: 2px solid $blue;
    color: #fff;
    font-family: Montserrat-Medium, Arial, sans-serif;
    font-size: 1rem;
    transition: all 0.5s;
    letter-spacing: 1px;

    &:hover {
      border-radius: 50px;
      border-color: $green;
      color: $green;
    }
}

.section-block__heading {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font: 3rem Raleway-Regular, Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;

    /*&:before {
      position: absolute;
      bottom: -20px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      content: " ";
    }*/
  }

.indent {
  margin-left: 20px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 600;
} 

.color_green {
  color: $green;
}
