
.container {
  position: relative;
  width: 90%;
  // width: 2360px;
  margin: 0 auto;
}

.show {
  display: block;
}

body {
  position: relative;
}

.section-heading {
  margin-top: 25px;
  text-align: center;
  color: #fff;
  font: 4em Gotham-Bold, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.icon-arrow-up {
  font-size: 2em;
  font-family: 'toTop-icon' !important;
}