
@import 'common';
@import 'font';

/*/////////HEAD///////////*/

.head {
	height: 100vh;
	border-top: 1px solid #fff;
	background: url(../img/head-back.jpg)  no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.autor {
	display: inline-block;
	margin-top: 30px;
	width: 25%;
	

	&__photo {
		float: left;
		width: 120px;
		height: 120px;
		max-width: 100%;
		border-radius: 50%;
	}

	&__name {
		float: left;
		margin-top: 10px;
		margin-left: 5px;
		margin-bottom: 5px;
		font: 1.5em Roboto-Black, Arial, sans-serif;
		font-weight: bold;
	}

	&__specialisation {
		display: inline-block;
		color: #008ec1;
		margin-left: 5px;
		text-transform: uppercase;
		font: 1em Nord, Arial, sans-serif;
		/*-webkit-animation: fadeIn 2.5s linear 1s forwards;
		-o-animation: fadeIn 2.5s linear 1s forwards;
		animation: fadeIn 2.5s linear 1s forwards;*/
	}
	/*@keyframes fadeIn {
		from {opacity: 0;}
		to {opacity: 1;}
	}*/
}
.bounceInRight {
	animation-delay: 1s;
}
.bounceInLeft {
	animation-delay: 1s;
}
.fadeInDown {
	animation-delay: 1.8s;
}

.head__nav {
	float: right;
	margin-top: 65px;
}
.menu {
	&__item {
		float: left;
		padding-bottom: 20px;
		margin-right: 17px;
		color: #00ffe9;
		text-transform: uppercase;
		font: 1em Gotham-Bold, Arial, sans-serif;
		transition: all 0.3s;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: #fff;
			border-bottom: 3px solid #00ffe9;
		}
	}
}

.site-heading {
	text-align: center;
	margin-top: 100px;
	font-weight: bold;
	font: 4.5em Nord, Arial, sans-serif;
	letter-spacing: 2px;
	color: #00ffe9;
	text-transform: uppercase;
	/*text-shadow: -3px -3px #000,
               0 3px 0 #000;*/

    &_black {
    	color: #000;
    	/*text-shadow: -3px -3px #00ffe9,
               0 3px 0 #00ffe9;*/
    }
}
.site-descript {
	text-align: center;
	margin-top: 20px;
	color: #00ffd4;
	font: 1.2em Rubik-Bold, Arial, sans-serif;

	&_black {
		color: #000;
	}
}

.head__button {
	position: relative;
	left: 49%;
	height: 75px;
	margin-top: 120px;
	background: none;
	border: none;
	opacity: 0.7;
	cursor: pointer;
	transition: all 0.5s;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;

	&:hover {
		-webkit-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;
		color: #00ffe9;
	}
}
.icon-circle-down {
	font-size: 3.5em;
	font-family: 'icomoon' !important;
}
@keyframes move{
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(50px);
		color: #00ffe9;
	}
}

/*/////////HEAD///////////*/

/*/////////KNOWLEGE////////*/
.knowledge {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-top: 1px solid #EDEDED;
}

.skill {

	&__item {
		float: left;
		width: 20%;
		margin-right: 6.5%;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}
	}

	&__heading {
		margin-top: 15px;
		font: 1.7em Roboto-Black, Arial, sans-serif;
		letter-spacing: 2px;
	}

	&__descript {
		margin-top: 10px;
		font: 1em Georgia, Arial, sans-serif;
	}
}
.l-skill {
	margin-top: 75px;
}

.html-five {
	font-size: 10em;
	font-family: 'html-icon' !important;
	color: red;
}
.icon-css {
	font-size: 10em;
	font-family: 'css-icon' !important;
}
.icon-js {
	font-size: 10em;
	font-family: 'js-icon' !important;
}
.icon-mobile {
	font-size: 10em;
	color: #00ffe9;
	font-family: 'mobile-icon' !important;
}

/*/////////KNOWLEGE////////*/




