
@media screen and (max-width: 1700px) {
	.about-descript-wrap {
		width: 45%;
	}

	.about-descript__text {
		font-size: 1rem;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1490px) {
	.about {
		background-position: center center;
	}
}

@media screen and (max-width: 1400px) {
	.nav-list__link {
		font-size: 1rem;
	}
	.head__button {
		width: 55%;
	}
	.head__subheading {
		font-size: 1.5rem;
	}

	.section-block__heading {
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	.section__heading {
		font-size: 3.5rem;
		top: 20px;
	}
	.section__heading-wrap {
		top: 20px;
	}
	.about__heading-wrap {
		width: 15%;
	}
	.skill__heading-wrap {
		width: 33%;
	}
	.contact__heading-wrap {
		width: 20%;
	}
	
	.about-descript-wrap {
		width: 45%;
	}
	.about-descript {
		padding: 15px 15px;
	}
	.about-descript__text {
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.rezume__link {
		bottom: 50px;
	}

	.skill-info_main {
		top: 70px;
		right: 7%;
	}
	.skill-info__heading {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
	.skill-info-wrap {
		width: 30%;
	}
	.skill-info-list {
		margin-bottom: 40px;
		justify-content: space-around;
	}
	.skill-info-list__item {
		width: 30%;
		margin-right: 1%;
		margin-bottom: 20px;

		&:nth-child(4) {
			margin-left: 0;
		}
		&:nth-child(5) {
			margin-right: 0;
		}
	}
	.skill-info-list__icon {
		height: 80px;
	}
	.skill-info_additional {
		bottom: 70px;
	}
	.skill-info__text {
		font-size: 1.2rem;
		&_big {
			font-size: 1.5rem;
		}
	}

	.work-list {
		margin-bottom: 15px;
	}
	.work-list__link {
		height: 20px;
		width: 100px;
		font-size: 0.7rem;
	}
	.work__btn-wrap {
		height: 40px;
	}
	.work__btn {
		font-size: 0.9rem
	}

	.contact-form-wrap {
		width: 27%;
	}
	.contact-form {
		padding: 15px 0;
	}
	.contact-form__heading {
		font-size: 1.5rem;
	}
	.contact-form-input, .contact-form-textarea {
		margin-bottom: 15px;
	}
	.contact-form-input {
		height: 30px;
	}
	.contact-form__button-wrap {
		height: 30px;
	}
	.contact-social {
		bottom: 5%;
	}
	.contact-list__item {
		width: 30px;
		height: 30px;
	}
}

@media screen and (max-width: 1260px) {
	.head__heading {
		font-size: 7rem;
	}
	.head__subheading {
		font-size: 1.4rem;
	}
	.contact-form-wrap {
		width: 30%;
	}
	.nav-wrap {
		width: 75%;
	}
	.skill__heading-wrap {
		width: 40%;
	}
	.work__btn-wrap {
		width: 30%;
	}
	.contact-form__input {
		font-size: 0.85rem;
	}
}

@media screen and (max-width: 1037px) {
	.about-descript-wrap {
		left: 50%;
		transform: translate(-50%, -50%); 
		width: 60%;
	}
	.about__heading-wrap {
		right: 3%;
	}
	.rezume__link {
		left: 1%;
	}
}

@media screen and (max-width: 1037px) {
	.about-descript-wrap {
		left: 50%;
		transform: translate(-50%, -50%); 
		width: 60%;
	}
	.about__heading-wrap {
		right: 3%;
	}
	.rezume__link {
		left: 1%;
	}
	.section__heading {
		font-size: 2.7rem;
	}
	.section-block__heading {
		font-size: 2rem;
	}
	.about-descript__text {
		font-size: 0.9rem;
	}

	.skill-info__heading {
		font-size: 1.3rem;
	}
	.skill-info_additional {
		top: 100px;
		width: 45%;
		left: 1%;

	}
	.skill-info_main {
		top: 100px;
		right: 1%;
		width: 45%;
	}
	.skill-info-list__item {
		width: 20%;
		margin-right: 10%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 965px) {
	.contact-form-wrap {
		width: 45%;
	}

	.contact-form__heading {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 900px) {
	.head__content_center {
		width: 100%;
	}

	.page-section {
		height: auto;
		overflow: hidden;
	}

	.rezume__link {
		width: auto;
	}

	.skill__container {
		position: relative;
	}
	.skill__heading-wrap {
		left: 0;
	}
	.skill-info__heading {
		font-size: 1.5rem;
	}
	.skill-info {
		width: 100%;

		&-wrap {
			width: 100%;
		}

		&_main {
			position: relative;
			right: 0;
			top: 100px;
		}

		&_additional {
			position: relative;
			left: 0;
			top: 100px;

		}
	}
	.skill-info-list__item {
		margin-right: 2%;

		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	.skill-info__text {
		padding: 0 5px;
		box-sizing: border-box;
		text-align: center;

		font-size: 1.2rem;
		&_big {

		}
	}
	.skill-info-list {
		margin-bottom: 15px;
	}

	.work-list {
		&__item {
			width: 48%;
		}
	}
	.work__container {
		height: auto;
		padding-bottom: 20px;
	}
	.work__btn-wrap {
		width: 60%;
	}

	.contact__container {
		position: relative;
		height: auto;
		padding-bottom: 20px;
	}
	.contact__heading-wrap {
		left: 0;
	}
	.contact-form-wrap {
		position: relative;
		width: 40%;
		top: 220px;
		margin-bottom: 50px;
	}
	.contact-social {
		position: relative;
		width: 95%;
	}
}


@media screen and (min-width: 320px) and (max-width: 767px) {
	.logo-wrap {
		display: none;
	}
	.nav-wrap {
		width: 100%;
		padding: 20px 5px;
		box-sizing: border-box;
	}
	.nav-list__link {
		font-size: 0.85rem;
	}
	.head__heading {
		font-size: 5em;
		letter-spacing: 5px;
	}
	.head__heading_green {
		margin-left: -25px;
	}
	.head__content_center {
		width: 100%;
	}
	.head__button {
		width: 70%;
		font-size: 0.9rem;
	}
	.head__subheading {
		font-size: 1rem;
		letter-spacing: 1px;
		margin-bottom: 30%;
	}

	.page-section {
		height: auto;
		overflow: hidden;
	}
	.section__heading-wrap {
		position: relative;
		width: 100%;
		text-align: center;
		top: 10px;
	}

	.about {
		height: 950px;
		max-height: 950px;
	}
	.about__heading-wrap {
		left: 0;
	}
	.about-descript-wrap {
		position: relative;
		width: 95%;
		top: 420px;
		padding: 7px;
	}
	.about-descript {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 7px;
	}
	.rezume__link {
		width: 60%;
		left: 50%;
		transform: translate(-50%);
	}

	.skill__container {
		position: relative;
	}
	.skill__heading-wrap {
		left: 0;
	}
	.skill-info__heading {
		font-size: 1.1rem;
	}
	.skill-info {
		width: 100%;

		&-wrap {
			width: 100%;
		}

		&_main {
			position: relative;
			right: 0;
			top: 40px;
		}

		&_additional {
			position: relative;
			left: 0;
			top: 20px;

		}
	}
	.skill-info-list__item {
		margin-right: 5%;

		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	.skill-info__text {
		padding: 0 5px;
		box-sizing: border-box;
		text-align: center;

		font-size: 0.9rem;
		&_big {

		}
	}
	.skill-info-list {
		margin-bottom: 15px;
	}

	.work__heading-wrap {
		left: 0;
	}
	.work-list {
		&__item {
			width: 100%;

			&:nth-child(4n),&:nth-child(5n),&:nth-child(6n) {
				display: none;
			}
		}
	}
	.work__container {
		height: auto;
		padding-bottom: 20px;
	}
	.work__btn-wrap {
		width: 80%;
	}

	.contact__container {
		position: relative;
		height: auto;
		padding-bottom: 20px;
	}
	.contact__heading-wrap {
		left: 0;
	}
	.contact-form-wrap {
		position: relative;
		width: 95%;
		top: 220px;
		margin-bottom: 50px;
	}
	.contact-social {
		position: relative;
		width: 95%;
	}

	@media screen and (min-width: 550px) {
		.contact-form-wrap {
			width: 60%;
		}

		.head__heading {
			font-size: 7em;
		}

		.head__subheading {
			font-size: 1.5em;
		}

		.nav-list__link {
			font-size: 1.3rem;
		}

		.rezume__link {
			width: auto;
		}
	}
}


@media screen and (min-height: 300px) and (max-height: 480px) {
	.head__content_center {
		top: 70% !important;
	}
	.head__button {
		display: none;
	}
	.about {
		height: 850px;
	}

	.skill {
		height: 600px;
	}
}