@media screen and (min-width: 600px) and (max-width: 767px) {
	.container_small {
		width: 370px;
		margin: 0 auto;
	}

	/*HEAD*/
	.autor {
			width: 30%;

		&__photo {
			margin-left: 10px;
		}

		&__name {
				font-size: 1.3em;
		}

		&__specialisation {
				font-size: 0.9em;
		}
	}

	.menu {
		float: right;
		&__item {
			float: none;
			margin-bottom: 5px;
			font-size: 1em;
			&:hover {
				border-bottom: none;
			}
		}
	}

	.site-heading {
		margin-top: 150px;
		font-size: 3.5em;
	}
	.site-descript {
		font-size: 1em;
	}
	/*HEAD*/

	/*KNOWLEGE*/
	.skill {
		
		&__item {
			width: 45%;
			height: 340px;
			margin-right: 10%;
			margin-bottom: 30px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		&__heading {
			font-size: 1.5em;
		}

		&__descript {
			font-size: 1.1em;
		}

		&__icon {
			font-size: 9em;
		}
	}
	.tools {
		width: 90%;
	}
	/*KNOWLEGE*/

	/*MY-WORK*/
	.work {
		$width: 370px;
		$height: 230px;

		&__item {
			display: inline-block;
			width: $width;
			height: $height;
			// margin-left: 22%;
			
			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		
		}

		&__img {
			width: $width;
			height: $height;
		}

		&__wrap {
			width: $width;
			height: $height;
		}
	}

	.icon-link {
		top: 27%;
		left: 36%;
	}
	/*MY-WORK*/

	/*ABOUT*/
	.about-descript {
		width: 95%;

		&__photo {
			width: 150px;
			height: 150px;
			margin-right: 0;
			margin-top: 0;
		}
	}
	/*ABOUT*/

	/*FOOTER*/
	.footer {
		height: 130px;
	}
	.contact-icon {
		margin-left: 4%;
		width: 100%;
		margin-top: 40px;
		font-size: 1.6em;
		margin-bottom: 10px;
	}
	.rights {
		float: none;
		text-align: center;
		width: 100%;
	}
	/*FOOTER*/
	

	.button-top {
		display: none;
	}

}

