
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 200;
}

.preloader__logo {
  width: 170px;
  height: 170px;
  fill: $light-blue;
  animation: logo .75s linear .5s infinite alternate;
  stroke: $light-blue;
}

#preloader-wrapper {
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  svg.circle-svg {
    will-change: stroke-dasharray, fill;
    stroke: $green;
    stroke-width: 4;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    stroke-dasharray: 80;
    transition: all 0.4s ease-in-out;
    animation: rotate .8s linear .5s infinite alternate;
  }
  .blu-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*Keyframes for rotate and fade */
  @keyframes rotate {
    from {stroke-dasharray: 80;opacity: 1;}
    to {stroke-dasharray: 0;stroke-width: 2;opacity: 0.1;}
  }
  @keyframes logo {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}

.out {
   animation: rem .5s linear .5s forwards;
}
@keyframes rem {
  0% {top: 0;opacity: 1;display: block;}
  98% {top: 0;display: block;opacity: 0;}
  100% {top: -200%; opacity: 0; display: none;}
}
