@import "svg-word.scss";

.head {
	position: relative;
	height: 100vh;
	background: #000;
	overflow: hidden;

	&-content {
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		transform: translateX(-50%);
		width: 90%;
		height: 100%;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		content: "";
		width: 100%;
		height: 50%;
		background: #fff;
		z-index: 0;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	animation: opacity 1.5s linear 1 forwards;
  	animation-delay: 4s;
}


.autor {
	width: 30%;
	margin-top: 30px;
	margin-right: 2%;
	

	&__photo {
		$photo-size: 200px;
		float: left;
		width: $photo-size;
		height: $photo-size;
		max-width: 100%;
		border-radius: 50%;
	}

	&__name {
		display: inline-block;
		float: left;
		margin-top: 10px;
		color: $main-text-color;
		font: 2em Raleway-Medium, Arial, sans-serif;
		font-weight: bold;
	}

	&__specialisation {
		display: inline-block;
		float: left;
		color: #008ec1;
		margin-left: 15px;
		text-transform: uppercase;
		word-spacing: 2px;
		font: 1.3em Nord, Arial, sans-serif;

		&_blue {
			color: #1010ba;
			margin-bottom: 5px;
		}

		&_green {
			// color: #005612;
			color: green;
		}
	}
}

/*MENU-BLOCK*/
.nav-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;

	&__image {
		position: relative;
		margin-right: 5px;
		width: 60px;
		height: 60px;
		fill: $main-text-color;
		transition: all 0.3s;
	}

	&__text {
		font: 1.5em Montserrat-Light, Arial, sans-serif;
		color: $main-text-color;
		transition: all 0.3s;
	}

	&:hover .nav-button__image {
		transform: rotate(-180deg);
	}

	&:hover .nav-button__text {
		transform: scale(1.1);
		font-weight: bold;
	}
}

.nav {
	&-container {
		position: absolute;
		top: -100%;
		left: 0;
		right: 0;
		background-color: #fff;
		width: 100%;
		height: 100%;
		padding: 100px 0;
		box-sizing: border-box;
		z-index: 10;
		@include flex-pos(center, center);


		&__icon {
			position: absolute;
			top: 5%;
			right: 5%;
			width: 30px;
			height: 30px;
			cursor: pointer;
			opacity: 0.6;
			transition: all 0.4s;

			&:hover {
				width: 40px;
				height: 40px;
				transform: rotate(-180deg);
				opacity: 1;
			}
		}
	}
}

.stick {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0px;
	content: "";
	height: 2px;
	width: 0;
	background-color: $main-text-color;
	transition: all 0.7s;
}

.menu {
	&__item {
		position: relative;

		&:hover .stick{
			width: 40%;
		}
		&:hover .menu__link {
			opacity: 1;
			transform: scale(1.1);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		height: 45px;
		width: auto;
		font: 1.5em Raleway-Medium, Arial, sans-serif;
		margin-bottom: 5px;
		text-transform: uppercase;
		opacity: 0.7;
		transition: all 0.3s;
	}

	a {
		color: $main-text-color;
	}
}
.menu-hide {
	animation: menu-hide 1.2s linear forwards;
}
.menu-show {
	animation: menu-show 0.7s linear forwards;
}
/*MENU-BLOCK*/


