@import '../../../../assets/style/colors';

.social-list {
  &.vertical {
    display: flex;
    flex-direction: column;

    .social-list__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .social-list__link {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border-radius: 50%;
      transition: background-color 0.2s;

      &:hover {
        background-color: $black;
      }
    }

    .mat-icon {
      width: 26px;
      height: 26px;
    }
  }

  &.animation {
    .social-list__item {
      animation: bounce 0.5s 1.3s ease forwards;
      transform: scale(0);

      &_2 {
        animation-delay: 1.4s;
      }
      &_3 {
        animation-delay: 1.5s;
      }
      &_4 {
        animation-delay: 1.6s;
      }

      @keyframes bounce {
        0% {
          transform: scale(0);
        }

        40% {
          transform: scale(1.8);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }

}

