
<ul class="social-list vertical">
  <li class="social-list__item">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="telegram" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="git" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
</ul>
