
<ul class="social-list"
    [ngClass]=
      "
      { 'animation': animation,
        'vertical': position === 'ver',
        'white': color === 'white'
        }
      "
>
  <li class="social-list__item social-list__item_1">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item social-list__item_2">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="telegram" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item social-list__item_3">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="git" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
  <li class="social-list__item social-list__item_4">
    <a href="#" class="social-list__link">
      <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </a>
  </li>
</ul>
