@import "src/assets/style/colors";

.nav {
  padding-top: 20px;

  &-list {
    &-item {
      margin-bottom: 20px;
    }

    &-btn {
      padding: 0;
      border: none;
      background-color: transparent;
      font-size: 20px;
      position: relative;
      cursor: pointer;

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &:before {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $black;
        content: '';
        transition: width 0.2s;
      }
    }
  }
}
