.about {
	position: relative;
	height: 100vh;
	display: flex;
	overflow: hidden;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	box-sizing: border-box;
}

.about-descript {
	position: relative;
	padding: 0 5%;
	width: 55%;
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;

	&__text {
		color: $main-text-color;
		margin-bottom: 20px;
		font: 1.5em "Times New Roman", serif;
		line-height: 1.6;
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-left: 15px;
		fill: #022c70;
		transition: all 0.3s;

		&:hover {
			fill: green;
		}
	}
}
.rezume-block {
	margin-top: 100px;
	display: flex;
	align-items: center;
}

.about-decor {
	width: 45%;
	height: 100%;

	&__image-wrap {
		width: 100%;
		max-height: 100%;
	}
}

.man-svg {
	max-height: 100%;
	max-width: 100%;
}