.about {
	background: url(../img/photo.jpg) center -200px no-repeat;
	background-size: cover;
	overflow: hidden;
	
	&__heading-wrap {
		width: 17%;
		position: absolute;
		right: 5%;
		text-align: center;
		color: $light-blue;
  		text-shadow: 0px 0px 25px $light-blue;

		&:before {
			background-color: $light-blue;
		}
	}
}

.about-descript {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px 40px;
	box-sizing: border-box;

	&-wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1.5%;
		width: 37%;
		padding: 15px;
		/*border: 2px solid #000;*/
		box-sizing: border-box;
	}

	&__text {
		color: #fff;
		font: 1.2rem Montserrat-Light, Arial, sans-serif;
		letter-spacing: 1px;
		line-height: 1.5;
		margin-bottom: 20px;
		text-align: justify;
	}
}

.rezume__link {
	position: absolute;
	bottom: 120px;
	right: 7%;
	color: $green;
	display: flex;
	align-items: center;
	font: 1.2rem Montserrat-Light, Arial, sans-serif;
}

.rezume__icon {
	width: 40px;
	height: 40px;
	margin-left: 15px;
	fill: $green;
}