//social-icons
.social-list {

  svg {
    fill: $black;
    transition: fill 0.2s
  }

  .social-list__link:hover, .social-list__link:focus {
    svg {
      fill: $white;
    }
  }

  &.white {
    svg {
      fill: $white;
    }

    .social-list__link:hover, .social-list__link:focus {
      svg {
        fill: $black;
      }
    }
  }
}

//head
.head-down {
  &:hover .mat-icon, &:active .mat-icon, &:focus .mat-icon {
    stroke: $white;
  }
}
