@import "reset";
@import "_fonts";
@import "_variables";
@import "breakpoints/_breakpoints";
@import "colors";
@import "material";

body {
  font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

.section-title {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 300;

  @include media-breakpoint-down(xs) {
    font-size: 35px;
  }
}

.text {
  font-weight: 300;
  line-height: 1.4;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

