@import "reset";
@import "_fonts";
@import "_variables";
@import "mixin/_breakpoints";
@import "colors";
@import "material";

body {
  font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}

//@include media-breakpoint-down(lg) {
//  body {
//    background-color: greenyellow;
//  }
//}

.section-title {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 300;
}

.text {
  font-weight: 300;
  line-height: 1.4;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

