<section class="head">
  <div class="head-container">
    <h1 class="head-title">
      <span class="head-title__row head-title__row_black">Do what you Love</span>
      <span class="head-title__row head-title__row_white">Love what you Do</span>
    </h1>
    <div class="head-social">
      <app-social [animation]="true"
                  [position]="'ver'"
                  [color]="'white'">
      </app-social>
    </div>
    <div class="head-lang">
      <app-lang [animation]="true"
                [align]="'ver'">
      </app-lang>
    </div>
    <button class="head-down">
      <mat-icon svgIcon="arrow-down" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
    </button>
  </div>
</section>
