<section class="about" *transloco="let t; read: 'about'">
  <div class="container about__container">
    <div class="about-info">
      <h2 class="section-title about__title">
        {{ t('title') }}
      </h2>
      <p class="text about__text">
        {{ t('text.par1') }}
      </p>
      <p class="text about__text">
        {{ t('text.par2') }}
      </p>
      <p class="text about__text">
        {{ t('text.par3') }}
      </p>
      <p class="text about__text">
        {{ t('text.par4') }} <a [href]="'#'" [target]="'blank'" class="text about__link">{{ t('text.cv') }}</a>
      </p>
    </div>
    <div class="about-skill">
      <div class="about-skill__container">
        <div class="about-skill__item">
          <div class="about-skill__title">{{ t('skill.title1') }}</div>
          <ul class="about-skill-list">
            <li *ngFor="let item of mainSkill" class="about-skill-list__item">
              <mat-icon svgIcon="{{ item.id }}" aria-hidden="false" aria-label="main-skill-icon"></mat-icon>
            </li>
          </ul>
        </div>
        <div class="about-skill__item">
          <div class="about-skill__title">{{ t('skill.title2') }}</div>
          <ul class="about-skill-list">
            <li *ngFor="let item of addSkill" class="about-skill-list__item">
              <mat-icon svgIcon="{{ item.id }}" aria-hidden="false" aria-label="main-skill-icon"></mat-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
