@import '../../../../assets/style/colors';

.nav-list {
  display: flex;

  .nav-list__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-list__link {
    display: block;
    color: $black;
    font-size: 22px;
    font-weight: 300;
    word-spacing: 2px;
    transition: all 0.2s;

    &:hover {
      font-weight: 600;
      transform: scale(1.05);
    }
  }

}

