@import '../../../../assets/style/colors';
@import '../../../../assets/style/breakpoints/breakpoints';

.nav-list {
  display: flex;

  &.revert-color {
    .nav-list__link {
      color: $white;
    }
  }

  &__item {
    margin-right: 20px;

    @media screen and (max-width: 360px) {
      margin-right: 14px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: $black;
    font-size: 22px;
    font-weight: 300;
    word-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      font-weight: 600;
      transform: scale(1.05);
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
      text-align: center;
    }

    @media screen and (max-width: 360px) {
      font-size: 20px;
    }
  }
}

