<nav class="nav">
  <ul class="nav-list" [ngClass]="{'animation': animation}">
    <li class="nav-list__item nav-list__item_1">
      <a href="#" class="nav-list__link">
        about
      </a>
    </li>
    <li class="nav-list__item nav-list__item_2">
      <a href="#" class="nav-list__link">
        skill
      </a>
    </li>
    <li class="nav-list__item nav-list__item_3">
      <a href="#" class="nav-list__link">
        my works
      </a>
    </li>
    <li class="nav-list__item nav-list__item_4">
      <a href="#" class="nav-list__link">
        contact
      </a>
    </li>
  </ul>
</nav>
